﻿@charset "utf-8";

.colLt640,.colRt310,.colLt315,.colRt315 {overflow:hidden;}
.colLt640 {float:left;width:640px;}
.colLt315 {float:left;width:315px;}
.colRt315 {float:right;width:315px;}
.colRt310 {float:right;width:310px;}
.bdBk,.bd,.liveBox,.coinList,.finL,.finR{zoom:1;overflow:hidden;}
.bdBk { padding:0 12px 12px 12px; border:1px solid #d1d7e3; border-top:0;}
.bd {border:1px solid #e2e6ea;border-top:0;}
.mRt {float:right; margin:-24px 12px 0 0;}
.dataInfo {float:right;font-size:11px;color:#888;}
.dataInfo cite { display:inline-block; margin-right:5px; padding-right:5px;}
.dataInfo label{color:#003399;}
.btnS { text-align:center;}
.btnS02 { text-align:right;}
.tbTitText01 { font-size:18px; color:#FF3333;}
/*--- Tabs ---*/
ul.hdNavs {background:url(../images/tabsBg.png) 0 bottom repeat-x;padding-left:10px;}
ul.hdNavs li {float:left;display:inline;font-size:14px; margin-left:-1px;text-align:center;height:32px;line-height:32px;border:1px solid #d3e3ee;border-bottom:0;}
ul.hdNavs li.current {position:relative;background:#fff;border-color:#bbcedb; font-weight:bold;}
ul.hdNavs.wd1 li {width:73px;}
ul.hdNavs.wd1 li.current {width:76px;}
ul.hdNavs.wdpd li { padding:0 10px;}
ul.hdNavs.wd2in li {width:90px;padding:0 10px;background:url(../images/tabsBg.png) 0 bottom repeat-x;}
ul.hdNavs.wd2in li a:hover {color:#6b93b5;}
ul.hdNavs.wd2in li.current2 {position:relative;background:#fff;border-color:#bbcedb; font-weight:bold;}
ul.hdNavsRsp {font-size:12px; background:url(../images/tagschang_bgsline.gif) 0 bottom repeat-x; height:26px; padding-left:10px;}
ul.hdNavsRsp li {float:left;display:block;}
ul.hdNavsRsp li a:hover { color:#2e7da4;}
ul.hdNavsRsp li a { color:#2e7da4; display:block; float:left; overflow:hidden; padding:0px 22px 0px 22px; height:26px; line-height:31px; text-decoration:none;}
ul.hdNavsRsp li.current a { background:url(../images/tab_over.gif) right top no-repeat; padding:0px 22px 0px 0px; font-weight:bold;}
ul.hdNavsRsp li.current a em {font-weight:bold; display:block; background:url(../images/tab_over_first.gif) left 0 no-repeat; padding-left:22px;}
.hdInNavs, .hdInNavsTt {margin:8px 0 20px 8px; color:#bbcedb;}
.hdInNavs a:hover,.hdInNavsTt a:hover,.hdInNavsR a:hover {color:#ef4a02;}
.hdInNavs a,.hdInNavsR a {display:inline-block; margin-right:6px; color:#666666;}
.hdInNavs .hinBtn {color:#ef4a02; font-weight:bold;}
.hdInNavsR {margin:-46px 0 0 290px;text-align:right;}
.hdInNavsTt a {display:inline-block; margin-right:6px; font-size:13px; color:#5476a5;}
.hdInNavsTt .hinBtn2 {font-size:15px; color:#ea2701; font-weight:bold;}
.tbtitle {font-size:15px; font-weight:bold; padding:10px 0 15px 0;}
.bgc01 {background:#fdf2a8!important; border-bottom:1px solid #fff;}
.tdSy01 { background:#e6edf1!important; height:32px;line-height:32px; padding:0 12px;border-bottom:1px solid #bbcedb;zoom:1;overflow:hidden;}
.tdSy01 td,.tabType td {font-family:"Microsoft JhengHei","微軟正黑體",Arial,sans-serif!important;}
/*--- Table ---*/
.fmTb a:hover,.fmTb2 a:hover {text-decoration:underline;}
.fmTb th,.fmTb td {height:32px;line-height:20px; padding:0 3px;}
.fmTb th {color:#666;text-align:center;border-bottom:1px solid #e5e5e5;background:url(../images/thBg.png) 0 bottom no-repeat;}
.fmTb td {text-align:right;font-size:11px; font-family:Tahoma; }
.fmTb tr.odd td {background:#f5f5f5;}
th.nthBg {background-position:-1px bottom;}
.fmTb2 td {height:28px;line-height:26px; padding:0 3px; text-align:left; font-size:12px; border-bottom:1px dotted #dddddd; border-right:1px dotted #dddddd;}
td.nTdBg {height:26px;line-height:26px; padding:0 3px;color:#666; text-align:center;border-bottom:1px solid #e5e5e5;background:url(../images/thBg2.png) repeat-x;}
td.nTdno {border-right:none;}
.fmTbG th,.fmTbG td {height:26px;line-height:22px; padding:6px; }
.fmTbG th {text-align:center; color:#003366; border-bottom:1px solid #e5e5e5;background:url(../images/tbTh01.png) repeat-x;}
.fmTbG td {border-bottom:1px solid #e5e5e5;}
.fmTbG a {float:right; margin-top:10px; color:#1395fa;}
.pgrs {font-size:13px; background:#d3e3ee; color:#1c407c; font-weight:bold;}
.fmTbG .tbBtn {display:block; float:right; _margin:-30px 3px 0 0; *margin:-30px 3px 0 0;}
.ntrs {color:#ef4a02; background:#d3e3ee;}
/*--- head Block ---*/
.hdBk,.hdBkL,.hdPath,.hdPath2,.hdPathL,.hdPathL2,.hdTool {height:50px;line-height:50px;padding:0 12px;}/*--- 設定變更 ---*/
.hdBk {background:url(../images/hdBk.png) 0 0 no-repeat;}
.hdBkL {background:url(../images/hdBk678.png) 0 0 no-repeat;}
.hdBk h3, .hdBkL h3 {font-size:21px;font-weight:bold;color:#5476A5;}/*--- 設定變更 ---*/
.hd {height:32px;line-height:32px; padding:0 12px;background:url(../images/tabsBg.png) 0 0 repeat-x; zoom:1;overflow:hidden;}
.hd2 {height:55px;line-height:28px; padding:0 12px;background:#f8f8f8; zoom:1;overflow:hidden;border-top:1px solid #eeeeee;border-bottom:1px solid #dadada;}
.hd h3 {float:left;font-size:15px;}
.hdPath {background:url(../images/hdBk.png) 0 -79px no-repeat; padding-left:32px;}
.hdPath2 {background:url(../images/hdBk.png) 0 -158px no-repeat; padding-left:32px;}
.hdPath3 {background:url(../images/hdBk.png) 0 -240px no-repeat;height:32px;}
.hdPath4 {background:url(../images/hdBk.png) 0 -300px no-repeat;height:32px;}
.hdPathL {background:url(../images/hdBk678.png) 0 -79px no-repeat; padding-left:32px;}
.hdPathL2 {background:url(../images/hdBk678.png) 0 -158px no-repeat; padding-left:32px;}
.hdTool {background:url(../images/hdBk.png) 0 -360px no-repeat; padding-left:35px;}
.hdPath h3,.hdPath2 h3,.hdPathL h3,.hdPathL2 h3,.hdTool h3{font-size:14px; color:#5c81a3;}
.hdPath3 h3,.hdPath4 h3 {font-size:14px;margin-right:200px;padding-top:6px;}
.hdPath3 h3{color:#a31b3c;}
.hdPath4 h3{color:#003c6d;}
.hd label {color:#003399;}
.hdInp {display:block; float:left;}
.hdInp label { color:#666666; margin-left:10px;}
.mRt {float:right; margin:-24px 12px 0 0;}
.mlinks {float:right;font-size:12px;}
.mlinks a {display:inline-block;margin-left:12px;color:#5476A5;}
.mlinks a:hover {text-decoration:underline;color:#00529B;}
.dataInfo {float:right;font-size:11px;color:#888;}
.dataInfo cite { display:inline-block; margin-left:5px; padding-left:5px; background:url(../images/vline.gif) 0 center no-repeat;}
.finInfo { margin-bottom:15px;}
.path { margin-bottom:12px; color:#898888;}
.path a { color:#2a82d1;}
.path a:hover { text-decoration:underline;}

/*--- 投資屬性分析 ---*/
.lfap { font-size:13px;}
.lfap p { margin-bottom:14px; background:#f4f4f4; padding:6px; color:#0282b3;}
.lfap h4 { font-size:14px; font-weight:bold; margin-bottom:8px;}
.lfap h4 label { font-size:16px; color:#0282b3; border-left:5px solid #0282b3; padding-left:5px;}
.lfap ul { margin:0 0 25px 8px;}
.lfap li { line-height:22px; color:#4d4c4c;}
/*--- 分頁樣式 ---*/
.pages {margin:15px 0 0 0; text-align: center;}
.pages span { color:#FF6600; font-weight:bold; margin:0 3px;}
.pagination {margin:15px 0 0 0; padding: 10px 0; text-align: center;}
.pagination a { margin-left:5px; padding:2px 6px; color:#00529b; font-size:11px; text-decoration:none; border:1px solid #bbcedb; background:white url(../images/bg_optionsbtn.gif) left top repeat-x; background-image: url(../images/bg_optionsbtn.gif);}
.pagination a:hover { color:#ffffff; background:#00529b; border:1px dotted #00529b;}
.pagination span.current  { margin-left:5px; padding:2px 5px; color:#ffffff; background:#00529b; border:1px dotted #00529b; }
.comt { margin-top:30px;}
.comt span{ color:#333333; font-weight:bold; margin-right:6px;}
/*--- 暫存 ---*/
#mCompare .bd { height:390px;}
/*--- Tool ---*/
.toolL { width:165px; margin:10px auto; padding:5px 0; background:#fff;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;*behavior:url(PIE.htc);}
.toolL h2 { font-size:14px; font-weight:bold; color:#90b4cf; margin:0px 0 3px 5px; padding-left:20px;background:url(../images/btnimg.png) 0 -62px no-repeat;}
.toolL h2.current { color:#0881c1;  background:url(../images/btnimg.png) 0 -38px no-repeat;}
.toolL ul {margin-left:20px;}
.toolL li {line-height:20px;background:url(../images/btnimg.png) 0 -80px no-repeat;padding-left:13px;}
.toolL li a { color:#5e5e5e; }
.toolL li a:hover { color:#f16609; text-decoration:underline;}
.toolL li.current a { font-size:14px; font-weight:bold; color:#f16609;}
/*--- 試算工具 ---*/
.Bx {display:none;}
.toolBx { padding:12px 0px;}
.toolh2Tx{ font-size:16px; font-weight:bold;height:30px;color:#fff;margin-bottom:10px; padding:5px 0 0 10px;background:url(../images/btnbg.gif) 0 -226px repeat-x;}
.mTools ul.hdNavs li {padding:0 10px;}
ol.mItems li {float:left;display:inline-block; margin:0 10px 5px 0;height:25px; line-height:25px;}
ol.mItems li span {display:inline-block;height:24px; line-height:24px;}
dl.toolFm { margin:12px auto; width:461px; padding-top:1px;}
dl.toolFm dt,dl.toolFm dd {float:left; height:35px; line-height:35px; padding:0 12px;border-top:1px solid #e4e4e4; border-bottom:1px solid #e4e4e4; margin-top:-1px;}
dl.toolFm dt {background:#f5f5f5; width:135px; text-align:right;}
dl.toolFm dt.dtSpL { width:100px;}
dl.toolFm dd {width:275px;}
dl.toolFm dd.dtSpR { width:310px;}
.funBut a {display:block;text-align:center;width:70px;height:20px;margin-left:545px;padding-top:5px;background:#e1e9ed; border:1px solid #d8e1e6;}
dl.toolFm dd.anote {width:400px;}
.toolBx .toolH { height:70px;}
.submit {padding:12px 0;}
input.texts,input.tabBkBlack{_margin-top:5px; height:18px; font-size:12px; width:50%; font-family:Tahoma; border:1px solid #ddd;}
input.tabBkBlack { background:#f3f3f3; color:#c00;}
dl.toolFm input.texts,dl.toolFm input.tabBkBlack {text-align:right;}
input.butn { background:url(images/naviBg.png) #005499 0 0 repeat-x; margin:0 2px; width:60px; height:22px; text-align:center; border:1px solid #002646; color:#fff; padding:0; font-family:"Microsoft JhengHei",微軟正黑體,Arial,sans-serif; cursor:pointer;}
.caption {background:#f5f5f5;padding:12px; border-top:1px solid #e4e4e4;}
.caption ol {margin-left:24px;overflow:visible;}
.caption li {line-height:22px;list-style:disc;overflow:visible;}
.results {width:461px;margin:12px auto;border-top:1px dotted #ccc;zoom:1; overflow:hidden;}
.mrelt,.mrelt2,.mrelt3,.mrelt4{display:block;}
.mrelt { height:32px; line-height:32px;}
.mrelt2 {line-height:20px;margin-bottom:10px;}
.mrelt3 {color:#d6830a;font-size:15px;font-weight:bold;}
.mrelt4 {color:#9d559d;font-size:15px;margin-bottom:10px;}
.mrelt5 {color:#0759ba;font-size:15px;margin-right:20px;}
.toolRes { text-align:center;color:#FF0000;}
.pBar {height:20px;  border:5px solid #eee; background:#ddd;background:url(../images/pBarBg.png) 0 -25px repeat-x;}
.pBar span {display:block; height:20px;line-height:20px;color:#fff;background:url(../images/pBarBg.png) 0 0 repeat-x;}
.pBar cite {padding-left:8px;}
/*--- currency ---*/
.coinList { display:block; width:310px; float:left;}
.coinList li { font-size:12px; font-weight:bold; color:#333333; line-height:30px;}
.coinList cite { margin-left:8px;}
.coinL { margin-right:30px;}
.coCode { display:block;float:right;font-weight:bold; color:#048adf; _margin-top:-30px; *margin-top:-30px;}
.coCocy { color:#585858;}
.coElg { margin-bottom:15px;}
/*--- Livelihood_price ---*/
.liveBox {margin-bottom:30px;}
.liveChart { float:left; width:355px;}
.liveTb { float:right; width:285px;}
/*--- 裡財比較_price ---*/
.finL { float:left; width:400px; margin-top:5px;}
.finR { float:right; width:550px; margin-top:12px;}
.finRchart { width:548px; margin-top:10px;}
.finRpt { float:left; margin:5px 10px 0 5px; color:#535353;}
.funLbox {overflow:auto;height:300px; border:1px solid #d1d7e3; padding:5px 0 15px 10px;}
.funLbox li { line-height:22px;}
.funPt { height:25px;font-size:13px; font-weight:bold; color:#fff; text-align:center; padding-top:4px; background:url(../images/btnbg.gif) 0 -153px repeat-x;}
#mymain {float:right;width:798px;}
#myside,.myLbtnBx {float:left;width:180px;}
.bdBk,.bd,.chart,.rLchBox,chData {zoom:1;overflow:hidden;}
.bdBk { padding:0 12px 12px 12px; border:1px solid #d1d7e3; border-top:0;}
.bd {border:1px solid #e2e6ea;border-top:0;}
.o {color:#d9782a!important;}
.b {color:#346b9b!important;}
.cCoA { background:#9d6b9c; }
.cCoB { background:#8aa94f; }
.tdTs01 { font-weight:bold; color:#353535; padding:3px 0 0 3px;}
.rdioB { display:block; margin-bottom:10px;}
.tbtdMonP {border-left:1px solid #d1d7e3;border-right:1px solid #d1d7e3;border-bottom:1px solid #d1d7e3;}
/*--- Tabs ---*/
ul.myhdNavs {background:url(../images/tabsBg.png) 0 bottom repeat-x;padding-left:10px;}
ul.myhdNavs li {float:left;display:inline;font-size:14px; margin-left:-1px;text-align:center;height:32px;line-height:32px;border:1px solid #d3e3ee;border-bottom:0;}
ul.myhdNavs li a:hover { color:#6b93b5;}
ul.myhdNavs li.current {position:relative;background:#fff;border-color:#bbcedb; font-weight:bold;}
ul.myhdNavs li.current a{ color:#0a3259;font-size:15px;}
ul.myhdNavs.wd1 li {width:73px;}
ul.myhdNavs.wd1 li.current {width:76px;}
ul.myhdNavs.wdpd li { padding:0 10px;}
ul.myhdNavs.wd2 li {width:100px;}
ul.myhdNavs.wd2 li.current {width:103px;}
ul.myhdNavs.pdlt {padding-left:150px;}
/*--- RightTabs ---*/
ul.myhdNavsRt {float:right;width:40px;height:650px;padding-top:12px;background:url(../images/mnrBg.gif) left no-repeat;}
ul.myhdNavsRt li {width:10px;font-size:13px; line-height:17px;text-align:center;padding:5px 10px;-webkit-border-radius:0px 5px 5px 0px;-moz-border-radius:0px 5px 5px 0px;border-radius:0px 5px 5px 0px;*behavior:url(PIE.htc);}
ul.myhdNavsRt li a {color:#fff;}
ul.myhdNavsRt li a:hover {text-decoration:none;font-weight:bold;}
ul#mhdnr01 li a:hover {color:#3f3f3f;}
ul#mhdnr01 li{background:#ffb400;border:1px solid #ffb400;border-left:1px solid #bfbfbf;}
#mhdnr01 li#current01 a {color:#3f3f3f;font-weight:bold;font-size:15px;}
#mhdnr01 li#current01 { width:15px;border:3px solid #ffb400; border-left:1px solid #fff; background:#fff;}
ul#mhdnr02 li a:hover {color:#3f3f3f;}
ul#mhdnr02 li{background:#99639b;border:1px solid #99639b;border-left:1px solid #bfbfbf;}
#mhdnr02 li#current02 a {color:#3f3f3f;font-weight:bold;font-size:15px;}
#mhdnr02 li#current02 { width:15px;border:3px solid #99639b; border-left:1px solid #fff; background:#fff;}
ul#mhdnr03 li a:hover {color:#000;}
ul#mhdnr03 li{background:#b5264d;border:1px solid #b5264d;border-left:1px solid #bfbfbf;}
#mhdnr03 li#current03 a {color:#3f3f3f;font-weight:bold;font-size:15px;}
#mhdnr03 li#current03 { width:15px;border:3px solid #b5264d; border-left:1px solid #fff; background:#fff;}
/*--- head Block ---*/
.hd {zoom:1;overflow:hidden; margin:6px 0 15px 0;}
.hd h3 {float:left;font-size:15px;}
.myhdPathR,.myhdPath2 {height:50px;line-height:50px;padding:0 12px;}
.myhdPathR {background:url(../images/hdBk798.png) no-repeat; padding-left:32px;}
.myhdPath2 {background:url(../images/hdBk.png) 0 -79px no-repeat; padding-left:32px;}
.myhdPathR h3,.myhdPath2 h3  { font-size:14px; color:#5c81a3;}
.myTbBx {width:720px;zoom:1;overflow:hidden;}
.myTbBx2 {width:770px;zoom:1;overflow:hidden;}
.ansBox {width:660px; margin:12px auto; padding:15px; border-top:1px dotted #b4b4b4;}
.hd label {color:#003399;}
.hdInp {display:block; float:left;}
.hdInp label { color:#666666; margin-left:10px;}
.hdInp2 {display:block; width:720px; float:left; background:#eff2f7; padding:0 0 10px 10px; border:1px solid #e6eaf2;}
.hdInp2 .listBox { display:inline-block; margin:0 15px 0 0;}
.listBox2 { display:inline-block; width:670px; margin-top:10px;text-align:center;}
input.butn,input.butn2,input.butn3,input.butn4,.butn5,.butn6{font-size:12px; width:50px; height:20px; text-align:center; color:#fff; padding:0; font-family:"Microsoft JhengHei",微軟正黑體,Arial,sans-serif; cursor:pointer;}
input.butn {background:url(../images/btnbg.gif) #005499 0 0 repeat-x; border:1px solid #005499;margin:0 2px;}
input.butn2 {background:url(../images/btnbg.gif) #005499 0 -30px repeat-x; border:1px solid #d6c0d6;margin:0px;}
input.butn3 {background:url(../images/btnbg.gif) #005499 0 -55px repeat-x; border:1px solid #e7e5e5;margin:0px;}
input.butn4 {width:120px; height:30px; background:url(../images/btnbg.gif) #005499 0 -190px repeat-x; border:1px solid #012d51;margin:0px;}
input.butn6 {width:120px; height:30px; background:url(../images/btnbg.gif) #005499 0 -266px repeat-x; border:1px solid #d10202;margin:0px; color:#fff;}
.butn5 {display:block;float:right;color:#fff;background:url(../images/btnbg.gif) #005499 0 -54px repeat-x;border:1px solid #e7e5e5;padding:1px 8px;}
.btnSy  {float:right;font-size:12px; margin-bottom:6px;}
.btnSy a:hover,.btnSy a.current {background:url(../images/btnbg.gif) #005499 0 -27px repeat-x;font-weight:bold; border:1px solid #9b689b;padding:2px 8px 0px 8px;}
.hdDfBtn {zoom:1;overflow:hidden;}
.hdDfBtn a { text-decoration:none;text-align:center;font-size:14px;color:#4d4d4d;display:block;float:left;margin-right:5px;width:83px;height:24px; line-height:24px; background:url(../images/btnimg.png) 0 -248px repeat-x;}
.hdDfBtn a:hover { background:url(../images/btnimg.png) 0 -272px repeat-x;}
.hdDfBtn .hdBtnS{ color:#262626; background:url(../images/btnimg.png) 0 -272px repeat-x;}
.hdDfBtn2 { background:#f5f5f5; border-bottom:1px solid #ddd; border-top:1px solid #ddd; padding:8px 0; margin-bottom:5px;}
.hdDfBtn2 a{ display:block;color:#262626;background:url(../images/btnimg.png) 0 -385px  no-repeat;width:120px; height:24px; line-height:24px;padding:0 0 0 18px;}
/*--- 理財目標分析 ---*/
.mtgBox h2 {font-weight:bold;font-size:22px;border-left:4px solid;padding-left:3px;margin:6px 0px 10px 10px;}
.mtgBox p {display:block; font-size:14px; margin-left:18px;}
.mtgBox a {display:block; text-align:right; margin:15px 0 0 20px;font-weight:bold;}
.mtgBox img{float:right; margin-right:6px;}
.mtgBox01,.mtgBox02,.mtgBox03 {background:#f6f2e3;height:150px;-webkit-border-radius:6px;-moz-border-radius:6px;border-radius:6px;*behavior:url(PIE.htc);}
.mtgBox02, .mtgBox03 {width:352px; margin:13px 0px 0px 0px;}
.mtgBox02 p, .mtgBox03 p {width:190px;}
.mtgBox02 {float:left;}
.mtgBox03 {float:right;}
.fArea {display:block; float:left;}
.mtcL01 {color:#5a3a1a;}
.mtcL02 {color:#1e7b9d;}
.mtcL03 {color:#43723f;}
.mtcL04 {color:#b43855;}
.mtcL05 {color:#f17904;}
.mtTxt {display:block;font-size:15px; height:60px; padding:25px 0 0 115px; margin-left:40px;}
.mtT01 {color:#f17904; background:url(../images/mtgimgS.png) 0 -350px no-repeat;}
.mtT02 {color:#5a3a1a; background:url(../images/mtgimgS.png) 0 0 no-repeat;}
.mtT03 {color:#1e7b9d; background:url(../images/mtgimgS.png) 0 -265px no-repeat;}
.mtT04 {color:#43723f; background:url(../images/mtgimgS.png) 0 -90px no-repeat;}
.mtT05 {color:#b43855; background:url(../images/mtgimgS.png) 0 -175px no-repeat;}
dl.mtFm { margin:12px auto; width:600px; padding-top:1px;}
dl.mtFm dt,dl.mtFm dd {float:left;height:35px;line-height:35px;padding:0 12px;border-top:1px solid #e4e4e4;border-bottom:1px solid #e4e4e4;margin-top:-1px;}
dl.mtFm dt {background:#f5f5f5;width:200px;text-align:right;}
dl.mtFm dd {width:300px;}
dl.mtFm dd.anote {width:445px;}
.submit {padding:12px 0;}
input.texts,input.tabBlueBlack{_margin-top:5px; height:18px; font-size:12px; width:50%; font-family:Tahoma; border:1px solid #ddd;}
input.tabBlueBlack { background:#f3f3f3; color:#c00;}
dl.mtFm input.texts,dl.mtFm input.tabBlueBlack {text-align:right;}
.results {width:550px;margin:12px auto;zoom:1;overflow:hidden;}
.results a {display:block;text-align:center;width:70px;height:20px;margin-left:475px;padding-top:5px;background:#e1e9ed; border:1px solid #d8e1e6;}
.mrelt {display:block;line-height:22px;}
.pBar {height:20px;border:5px solid #eee;background:#ddd;background:url(../images/pBarBg.png) 0 -25px repeat-x;}
.pBar span {display:block;height:20px;line-height:20px;color:#fff;background:url(../images/pBarBg.png) 0 0 repeat-x;}
.pBar cite {padding-left:8px;}
/*--- Table ---*/
.fmTb {margin-top:10px;}
.fmTb th,.fmTb td {height:32px;line-height:20px; padding:0 3px;}
.fmTb th {color:#666;text-align:center;border-bottom:1px solid #e5e5e5;background:url(../images/thBg.png) 0 bottom no-repeat;}
.fmTb td {text-align:right;font-size:11px; font-family:Tahoma; }
.fmTb tr.odd td {background:#f5f5f5;}
.fmTb a:hover {text-decoration:underline;}
th.nthBg {background-position:-1px bottom;}
.tbSty01 td {margin:0px; padding:0px;}
.tbSty01 caption {height:25px; padding-top:8px;background:#48779c; font-weight:bold; color:#fff;}
.tbSty02{border:1px solid #CCCCCC;}
.tbSty02 caption {height:30px;padding-top:7px; font-size:15px;color:#fff;}
.tbSty02 {width:335px; float:left;}
.tbSty02 .tbsT01 {font-family:"Microsoft JhengHei"; background:url(../images/btnbg.gif) 0 -153px repeat-x;font-size:14px;font-weight:bold;color:#fff;text-align:center; padding-left:8px;}
.tbSty03 {width:650px; margin-left:20px; border:1px solid #f0eeee; border-top:none;} 
.fmTb .tbSty03 th {color:#fff;text-align:center;border-bottom:1px solid #e5e5e5;background:url(../images/thBg.png) 0 0 no-repeat;}
.tbSty04 td { text-align:left; padding-left:0px;font-family:"Microsoft JhengHei","微軟正黑體",Arial,sans-serif;}
.tbSty05 td { text-align:center; padding:0 6px;font-family:"Microsoft JhengHei","微軟正黑體",Arial,sans-serif;} 
.scienceBox table td.tdHst { background:#547ea0; color:#fff; border-bottom:1px solid #fff;}
.scienceBox table td.tdHst2 { background:#dbdee1; color:#2e68b0; text-align:left;border-bottom:1px solid #fff;}
.modifyw {width:298px; zoom:1;overflow:hidden; border:1px solid #d1d7e3; border-top:0;}
.modifyw2 {width:170px;margin:0px auto; padding:10px;}
.mFbd {border:5px solid #ccc;}
.modifyw table {width:280px; margin:10px auto 0 auto;}
.modifyw td{height:20px;text-align:left;font-size:12px;font-family:Tahoma; padding:6px; border-bottom:1px dotted #ccc;}
.modifyw2 td{height:20px;font-size:12px;font-family:Tahoma; padding:6px 0;}
.modifyw p {font-size:13px;text-align:left;margin:6px 0 0 10px;}
.modifyw cite {text-align:right; display:block; float:left; margin-right:5px; width:65px; color:#000;}
td.modTd01 {background:#ececec;text-align:right;}
td.tdPad {padding:8px 0 8px 8px; font-size:12px;font-family:"Microsoft JhengHei","微軟正黑體",Arial,sans-serif;}
td.tdPad span {float:left;display:inline; width:110px;}
td.sp2 span {width:150px;}
.myMonTb td{ height:80px; vertical-align:top; text-align:left; padding-left:6px; border-right:1px solid #d7d7d7;}
.trBom td{ background:#6b7f9c!important; color:#fff; font-weight:bold;}
.tdR {border-right:none;}
.trB td {border-bottom:5px solid #8cb3d3; background:#FFFFFF;}
.tdDate td {height:10px; background:#e6f1f9;}
.dataInfo,.dataInfo2  {float:right;font-size:11px;color:#888;}
.dataInfo cite {display:inline-block; margin-left:5px; padding-left:5px; background:url(../images/vline.gif) 0 center no-repeat;}
.dataInfo a {margin:0 2px; color:#5476a5;}
.dataInfo2 cite {display:inline-block; margin:10px 10px 0 0; padding-left:5px;}
.finInfo {margin-bottom:15px;}
.delbtn span,.modbtn span { display:none;}
.delbtn,.modbtn {display:block; width:14px; height:14px;}
.delbtn {background:url(../images/btnimg.png) 0 0 no-repeat; margin-left:17px; *margin-left:5px;}
.modbtn {background:url(../images/btnimg.png) 0 -19px no-repeat; margin-left:25px; *margin-left:5px;}
.chTitle {font-size:18px; text-align:center; margin:15px 0;}
.insChart{margin-top:20px;}
.tbBxline { border-top:1px solid #ddd;}
/*--- 月曆 ---*/
.npPage {position:absolute; margin-top:-28px;width:180px;zoom:1; overflow:hidden;}
.npPage .prev {float:left; width:15px; height:20px;background:url(../images/ButnIcon.png) left 0 no-repeat;}
.npPage .next {float:right; width:15px; height:20px;background:url(../images/ButnIcon.png) right 0 no-repeat;}
.month {font:bold 23px Arial, Helvetica, sans-serif; color:#666; zoom:1; overflow:hidden; margin:0 0 5px 30px;}
.month span {font-family:"Microsoft JhengHei"; margin:0 2px;}
/*--- left_List ---*/
#myside h2 {font-size:14px; font-weight:bold; color:#fff; text-align:center; margin-left:10px; background:url(../images/btnimg.png) 0 -107px no-repeat; height:24px;}
.myLt { display:block;background:url(../images/btnbg.gif) 0 -226px repeat-x; padding:6px;}
.listL {overflow:auto; height:180px; border:1px solid #d1d7e3;}
.listL ul {margin:6px 0 10px 15px;}
.listL li {font-size:13px; line-height:22px;}
.listL cite {color:#6088ab; margin-right:5px;}
.listL2 {margin-top:10px; border:1px solid #d1d7e3;}
.listL2 p {padding-top:7px; border-top:1px solid #e7e7e7;}
.lL2p01 {font-weight:bold;text-align:center; height:28px; background:url(../images/tbTh02.png) repeat-x;}
.lL2p02 {text-align:right; padding:0 5px 3px 0;}
.notAlert {display:block; height:25px; font-size:14px; font-weight:bold; color:#8e1016; background:#f6c5c6; text-align:center; padding-top:5px;}
.myLbtnBx {border:none; margin-top:10px;}
.myLbtnBx a {font-size:15px;color:#fff;font-weight:bold;margin:5px 0 0 50px;}
.myLbtnBx a:hover {color:#0f2d7f;}
.myLbtn01 {background:url(../images/btnimg.png) 0 -142px no-repeat; height:41px; padding-top:9px;}
.myLbtn02 {background:url(../images/btnimg.png) 0 -191px no-repeat; height:41px; padding-top:9px;}
/*--- 圖表應用 ---*/
.chComvs {text-align:center; padding-left:245px;}
.chComvsA,.chComvsB {margin-right:20px;}
.chComvsA img,.chComvsB img {margin-right:3px;}
.chBoxL {width:450px; float:left;}
.chBoxR {width:250px; float:right; margin-left:10px;}
.chBoxR .tdLt {text-align:left; border-right:1px solid #e5e5e5;}
.tdLt img {margin:0 5px;}
.chData ol {display:block; width:180px;float:left;line-height:20px;margin:15px 0 0 20px;}
.chData li { padding:0 0 0 10px;}
.chb01 { background:url(../images/chBox.gif) 0 8px no-repeat;}
.chb02 { background:url(../images/chBox.gif) 0 -17px no-repeat;}
.chb03 { background:url(../images/chBox.gif) 0 -42px no-repeat;}
.chb04 { background:url(../images/chBox.gif) 0 -67px no-repeat;}
.chb05 { background:url(../images/chBox.gif) 0 -92px no-repeat;}
.chb06 { background:url(../images/chBox.gif) 0 -116px no-repeat;}
.chb07 { background:url(../images/chBox.gif) 0 -142px no-repeat;}
.disyhidn {display:none;}
.disyshow {display:block;}
.scienceBox table{width:750px; margin:15px auto;}
.scienceBox td {padding:6px;font-family:"Microsoft JhengHei"; font-size:12px;}
.hdNT li {height:25px;font-size:15px; padding:5px 0 0 8px;display:block; background:#d3e3ee;border-left:5px solid #bbcedb;}
.hdNT li a {color:#20527c; display:block; overflow:hidden; padding:0px; text-decoration:none;}
.hdNT li a:hover {color:#00529b;text-decoration:none;}
.hdNT li.current {background:#004078;border-left:5px solid #2971b1;}
.hdNT li.current a {color:#fff;}
.scienceBox p {color:#006699;font-size:13px;font-weight:bold;margin:10px 0 0px 0px;}
/*--- 分頁樣式 ---*/
.pages {margin:15px 0 0 0; text-align: center;}
.pages span {color:#FF6600; font-weight:bold; margin:0 3px;}
.pagination {margin:15px 0 0 0; padding: 10px 0; text-align: center;}
.pagination a {margin-left:5px; padding:2px 6px; color:#00529b; font-size:11px; text-decoration:none; border:1px solid #bbcedb; background:white url(../images/bg_optionsbtn.gif) left top repeat-x; background-image: url(../images/bg_optionsbtn.gif);}
.pagination a:hover {color:#ffffff; background:#00529b; border:1px dotted #00529b;}
.pagination span.current  {margin-left:5px; padding:2px 5px; color:#ffffff; background:#00529b; border:1px dotted #00529b; }
.comt {margin-top:30px;}
.comt span{color:#333333; font-weight:bold; margin-right:6px;}
ul.hdNavs.wd5b {padding-left:1px;}
ul.hdNavs.wd5b li {width:58px;}ul.hdNavs.wd5b li.current {width:62px;}
#goldprice .hd,#goodnews .hd{margin:0;}
#goldprice .fmTb,#idx .fmTb {margin:0;}
#bankrate .hd2,#moneytools .hd2{ height:32px;line-height:32px;border-bottom:0;border-top:0; padding:0 12px;background:url(../images/BkBgs.png) 0 -3px repeat-x;}
#exchange .bd,#gcharts .bd {padding:10px;}
.excharts {float:left; width:150px;text-align:center;background:#fff;}
.adslink { float:right;margin:-28px 0 0 0;width:110px;}
#bankrate,#moneytools {border:1px solid #ddd;}
.listlinks,.listbtns {border:1px solid #4e4e4; padding:8px 0 8px 10px; background:url(../images/bkBgft.png) 0  bottom repeat-x;}
.listlinks li,.listbtns li {float:left; display:inline; font-size:13px; width:140px;}
.listlinks li a { display:block;height:25px; line-height:25px;background:url(../images/arowIcons.png) 0 9px no-repeat; padding-left:12px;}
.listlinks li a:hover {text-decoration:underline; color:#c00;}
.listbtns a { display:block; width:130px; color:#969; margin:3px 0 3px 3px; background:url(../images/BkBgs.png) 0 -3px repeat-x; text-align:center;height:28px; line-height:28px; border:1px solid #d4d4d4;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;*behavior:url(PIE.htc); position:relative;}
.listbtns a:hover {color:#639; font-weight:bold;}
#mCompare {border:1px solid #ddd; background:url(../images/bkBgft.png) 0 bottom repeat-x;}
ul.listing3 {border:1px solid #e4e4e4; border-top:0; padding:8px 10px;}
ul.listing3 li {font-size:13px; height:25px; line-height:25px;} 
.dtime {font-size:11px; font-family:Tahoma; color:#999; margin-right:6px;}

/*--- 2012-04-03 edit ---*/
.path2 { font-size:14px; margin-bottom:12px; color:#333; font-weight:bold;}
.path2 a { color:#2a82d1;}
.path2 a:hover { text-decoration:underline;}
.onr {color:#c00;}
.banksrch { padding:8px; text-align:center; border:1px solid #ddd; background:#f8f8f8;}
.banksrch select {margin:0 5px;}

/*--- 2017-07-17 add ---*/
.blank10 {height: 10px; overflow: hidden;}