@charset "utf-8";
.colLt332,.colRt332,.olRt,.olLt {overflow:hidden;}
.colLt332 {float:left;width:332px;}
.colRt332 {float:right;width:332px;}
.colLt340 {float:left;width:340px;}
.colRt320 {float:right;width:320px;}
.olLt {float:left; width:150px;}
.olRt {float:right; width:150px;}
.bdBk,.bd,.gp,.gp2 {zoom:1;overflow:hidden;}
.bdBk { padding:0 12px 12px 12px; border:1px solid #d1d7e3; border-top:0;}
.bd {border:1px solid #e2e6ea;border-top:0;}
.bxbk {background:#f5f5f5; border:1px solid #e4e4e4; padding:6px 8px;}
.albr {border:1px solid #dbdbdb;padding:12px;}
.imgfLt {float:left; margin-right:12px;}
.gp { margin-top:12px;}
.gp2 {float:left;display:inline-block; width:316px; padding-right:10px;margin-top:6px;}

/*--- Tabs ---*/
ul.hdNavs {background:url(../images/tabsBg.png) 0 bottom repeat-x; padding-left:1px;}
ul.hdNavs li {float:left;display:inline;font-size:14px; margin-left:-1px;text-align:center;height:32px;line-height:32px;border:1px solid #dfdfdf;border-bottom:0;}
ul.hdNavs li.current {position:relative;background:#fff;border-color:#d1d1d1;font-weight:bold;}
ul.hdNavs li.current a {color:#ee620d;}
ul.hdNavs li a {color:#4a3d34;}
ul.hdNavs2 {background:url(../images/tabsBg.png) 0 0 repeat-x;padding-left:1px;}
ul.hdNavs2 li {float:left;display:inline;font-size:14px; margin-left:-1px;text-align:center;border:1px solid #ddd;border-bottom:0;height:31px;line-height:28px;}
ul.hdNavs2 li a {color:#4a3d34;}
ul.hdNavs2 li.current{position:relative; background:url(../images/naviBg.png) #fff center bottom no-repeat;}
ul.hdNavs2 li.current a {color:#ee620d;}
ul.hdNavs.wd1 li {width:73px;}
ul.hdNavs.wd1 li.current {width:76px;}
ul.hdNavs.wdpd li { padding:0 10px;}
ul.hdNavs.pdlt {padding-left:150px; width:678px;}
ul.hdNavs.pdlt2 {padding-left:104px; width:332px;}
ul.hdNavs.wd2 li {width:98px;}ul.hdNavs.wd2 li.current {width:99px;}
ul.hdNavs.wd3 li {width:98px;}ul.hdNavs.wd3 li.current {width:100px;}
ul.hdNavs.wd3b li {width:75px;}ul.hdNavs.wd3b li.current {width:75px;}
ul.hdNavs.wd4 li {width:81px;}ul.hdNavs.wd4 li.current {width:84px;}
ul.hdNavs.wd4b li {width:74px;}ul.hdNavs.wd4b li.current {width:73px;}
ul.hdNavs.wd5b li {width:58px;}ul.hdNavs.wd5b li.current {width:62px;}
ul.hdNavs.wd7 li {width:41px;}ul.hdNavs.wd7 li.current {width:46px;}
.hdtitle {position:absolute; font-size:15px; font-weight:bold; height:30px; line-height:30px; padding-left:10px;color:#4a3e34;}
.hdtitle a {color:#111;}
.hdtitle2 {position:absolute;font-size:13px;color:#666;height:30px; line-height:30px;padding-left:10px;}
ul.hdNavsSd {padding-top:5px;position:absolute; width:536px; border-left:1px solid #ddd;border-right:1px solid #ddd; background:url(../images/hdNaviSdBg.png) 0 bottom repeat-x;}
ul.hdNavsSd li {float:left; font-size:13px; text-align:center; display:inline; height:24px; line-height:24px; border-bottom:2px solid #ddd;}
ul.hdNavsSd li a {color:#999; float:left; padding:0 12px;height:24px;line-height:22px; background:url(../images/vline.gif) 0 center no-repeat;}
ul.hdNavsSd li.current {border-bottom:2px solid #969;}
ul.hdNavsSd li.current a { color:#969; font-weight:bold;}
ul.hdSd {padding-left:140px;}
ul.hdSd2 {padding-left:210px; width:466px;}
ul.hdNavsRt {float:right; width:118px; padding-top:15px; background:url(../images/vline.gif) 0 0 repeat-y; height:115px;}
ul.hdNavsRt li { height:25px; line-height:25px; font-size:13px; border:1px solid #ddd;margin-top:-1px; padding-left:8px; background:#f3f3f3;}
ul.hdNavsRt li a {color:#666;}
ul.hdNavsRt li.current {background:#fff; border-color:#ccc; border-left:1px solid #fff; font-weight:bold; position:relative;}
ul.hdNavsRt li.current a {color:#c00;}
ul.hdsecd {background:url(../images/hdNaviSdBg.png) 0 bottom repeat-x;}
ul.hdsecd li {float:left; display:inline; text-align:center; font-size:13px; height:30px;border-bottom:2px solid #ddd; margin-left:-1px;}
ul.hdsecd li a {color:#999; float:left; padding:0 12px;height:30px;line-height:30px; background:url(../images/vline.gif) 0 center no-repeat;}
ul.hdsecd li.current {border-bottom:2px solid #969;}
ul.hdsecd li.current a { color:#969; font-weight:bold;}

/*--- title/listing ---*/
h2.hdline {font-size:19px;font-weight:bold;height:27px; line-height:27px; margin-bottom:6px; overflow:hidden;}
h3.hdline {font-size:17px;height:25px; line-height:25px; margin-bottom:3px; overflow:hidden;}
h2.hdline a,h3.hdline a {color:#003A90;}
p.summary {font-size:13px; color:#666; line-height:18px;}
p.summary2 {font-size:12px; color:#666; line-height:18px;}
.dtime {font-size:11px; font-family:Tahoma; color:#999; margin-right:6px;}
ul.listing li { font-size:14px; height:23px; line-height:23px;}
ul.listing2 li { font-size:13px; height:24px; line-height:24px; border-bottom:1px dotted #ddd;}
ul.listing3 {border:1px solid #e4e4e4; border-top:0; padding:8px 10px;}
ul.listing3 li {font-size:13px; height:25px; line-height:25px;} 
ul.listing4 {padding:5px 10px; background:url(../images/bkBgft.png) 0 bottom repeat-x;}
ul.listing4 li {font-size:12px; height:24px; line-height:24px;*height:20px; *line-height:20px; overflow:hidden;}
h2.hdline a:hover,h3.hdline a:hover,ul.listing li a:hover {text-decoration:underline;color:#c00;}
ul.listing.list2 li {float:left; width:290px; padding-right:10px;padding-left:16px; background:url(../images/arowIcons.png) 0 9px no-repeat;}
.dot li{padding-left:16px; background:url(../images/arowIcons.png) 0 9px no-repeat;}
.dothr{border-top:1px dotted #ddd; margin-top:8px; padding-top:6px;}
.owner,.row,.row2,.hits{float:left; display:inline;}
.owner {padding-right:6px; margin-right:5px; background:url(../images/vline.gif) right center no-repeat;}
.row {width:240px; margin-right:6px; overflow:hidden;}
.row2 {width:200px;margin-right:6px; overflow:hidden;}
.owner a {color:#666;}
.hits {font-size:11px;color:#666;}
/*--- ranking --*/
cite.nums {display:inline-block; font-size:9px; font-weight:bold; font-family:Verdana, sans-serif; height:14px; line-height:14px; text-align:center; width:28px;color:#fff; position:relative;}
cite.rk1 {background:url(../images/numRank.png) 0 0 no-repeat;}
cite.rk2 {background:url(../images/numRank.png) 0 -20px no-repeat;}
cite.rk3 {background:url(../images/numRank.png) 0 -40px no-repeat;}
/*--- Table ---*/
.fmTb th,.fmTb td { height:26px;line-height:26px; padding:0 3px;}
.fmTb th {color:#777;text-align:center;line-height:27px; border-bottom:1px solid #e5e5e5;background:url(../images/thBg.png) 0 bottom no-repeat;}
.fmTb td {text-align:right;font-size:11px; font-family:Tahoma; }
.fmTb tr.odd td {background:#f5f5f5;}
th.nthBg {background-position:-1px bottom;}
.gkiaTb td {text-align:center; padding-top:10px; width:25%; vertical-align:middle;}
.gkiaTb td span {display:block;}
.fmTbvl th,.fmTbvl td {height:30px;line-height:30px; padding:0 3px;}
/*--- head Block ---*/
.hd {height:32px;line-height:32px; padding:0 12px;background:url(../images/tabsBg.png) 0 0 repeat-x;overflow:hidden;}
.hd2 {height:32px;line-height:32px; padding:0 12px;background:url(../images/BkBgs.png) 0 -3px repeat-x;}
.hd h3,.hd2 h3{float:left;font-size:15px;}
.hds {height:20px; line-height:20px; overflow:hidden;}
.hds h3 { float:left; font-size:14px;}
.hd a,.hd2 a {color:#111;} 
.mRt {float:right; margin:-24px 12px 0 0;}
.mlinks {float:right;font-size:12px;}
.mlinks a {display:inline-block;margin-left:12px;color:#5476A5;}
.mlinks a:hover {text-decoration:underline;color:#00529B;}
.dataInfo {float:right;font-size:11px;color:#888;}
.dataInfo2 {font-size:11px;color:#888; height:30px; line-height:30px; text-align:right; padding-right:10px; margin-bottom:6px;}
.dataInfo cite,.dataInfo2 cite { display:inline-block; margin-right:5px; padding-right:5px; background:url(../images/vline.gif) right center no-repeat;}
#fundblog .bd {padding:10px;}
#fundblog h3.hds {margin-bottom:5px; font-size:14px;}
#fundblog ul.listing3 {background:#f5f5f5; padding:4px 6px;}
#reptbx .bd {padding:10px;}
#reptbx h3.hds {font-size:14px; margin-bottom:3px;}
#reptbx ol li {font-size:13px; height:20px; line-height:20px;}
#reptbx ol a {color:#666;}
#reptbx ol a:hover {text-decoration:underline; color:#c00;}
.expert { border-top:1px solid #eee; margin-top:8px; line-height:22px; padding-top:5px; height:48px; overflow:hidden;}
.expert a {display:inline-block;margin-right:10px; border-bottom:1px solid #e4e4e4;}
.expert a:hover {border-bottom:0; color:#fff; background:#00529B;}
#exchange .bd,#gcharts .bd {padding:10px;}
.excharts {float:left; width:150px;text-align:center;background:#fff;}
.adslink { float:right;margin:-28px 0 0 0;width:110px;}
#bankrate,#moneytools {border:1px solid #ddd;}
.listlinks,.listbtns {border:1px solid #4e4e4; padding:8px 0 8px 10px; background:url(../images/bkBgft.png) 0  bottom repeat-x;}
.listlinks li,.listbtns li {float:left; display:inline; font-size:13px; width:140px;}
.listlinks li a { display:block;height:25px; line-height:25px;background:url(../images/arowIcons.png) 0 9px no-repeat; padding-left:12px;}
.listlinks li a:hover {text-decoration:underline; color:#c00;}
/*.listbtns a { display:block; width:130px; color:#969; margin:3px 0 3px 3px; background:url(../images/BkBgs.png) 0 -3px repeat-x; text-align:center;height:28px; line-height:28px; border:1px solid #d4d4d4;-webkit-border-radius:2px;-moz-border-radius:2px;border-radius:2px;*behavior:url(PIE.htc); position:relative;}*/
.listbtns a {display: block;width: 130px;color: #969;margin: 3px 0 3px 3px;background: url(../images/BkBgs.png) 0 -3px repeat-x;text-align: center;height: 28px;line-height: 28px;border: 1px solid #d4d4d4;-webkit-border-radius: 2px;-moz-border-radius: 2px;border-radius: 2px;position: static;}.listbtns a:hover {color:#639; font-weight:bold;}
#mCompare {border:1px solid #ddd; background:url(../images/bkBgft.png) 0 bottom repeat-x;}
#mCompare .bd2 {padding:10px;}
#mCompare ul.hdNavs2 li {width:51px}
#mCbtn_tab_1 {width:68px!important;}
dl.fmcomp { padding:6px 0;}
dl.fmcomp dt,dl.fmcomp dd {float:left;height:28px;line-height:28px;padding:0 5px;}
dl.fmcomp dt {width:50px; text-align:right; }
dl.fmcomp dd { width:208px;}
dl.fmcomp dd select {margin-top:3px; width:200px;}
.chartBox {border:1px solid #e4e4e4; zoom:1; overflow:hidden;}
#extools .bd,#housemap .bd {padding:10px;}
.hotwords {padding:6px 10px; font-size:12px; line-height:18px;border-bottom:1px solid #ddd;}
.hotwords a { margin-right:5px;}
#moneyBar ol li { padding:8px 0;border-bottom:1px dotted #ddd; vertical-align:middle;}
#moneytop10 .bd { padding:0 10px;}
.ranks cite,.ranks a{float:left; height:14px; line-height:14px;}
.ranks a {width:90px; overflow:hidden;}
.ranks span {float:right;font-size:10px; height:14px; line-height:14px;}
.ranks .numrank { margin-right:4px; color:#fff;font-size:9px; font-weight:bold; font-family:Verdana, sans-serif; float:left; text-align:center; width:16px; background:url(../images/numRank.png) 0 -60px no-repeat;}
#moneyBar a:hover {text-decoration:underline;}
#srchHouse .fmTbvl {padding:12px;background:url(../images/bkBgft.png) 0 bottom repeat-x;}
.srchBtn { position:absolute; margin-top:-30px; margin-left:4px;}
.srchBtn input { height:52px; width:54px;text-align:center;}
.srchBtn2 input { height:24px;width:54px;text-align:center}
#cur_result {border:1px dotted #ccc; margin-top:10px; background:#f3f3f3; padding:6px;}
#cur_result p {line-height:18px;color:#666;}
#cur_result em {font-weight:bold; color:#c00;}
.headNews {float:right;width:440px;}
.scrollable {position:relative; overflow:hidden;}
.items{width:20000em;position:absolute;}
#magz .scrollable {width:573px; margin-left:52px; height:210px;}
#magz {border:1px solid #ddd; background:#f7f7f7;}
#magz .item {float:left; display:inline; padding-left:1px;margin:12px 0 12px 0;}
#magz .item li {float:left;display:inline;text-align:center; width:142px; border:1px solid #e4e4e4; padding:12px 0 6px 0; margin-left:-1px;background:url(../images/bkBgft.png) 0 bottom repeat-x;}
.navbws {position:absolute;z-index:9999; margin-top:-130px; height:34px; overflow:hidden;}
.navbws a.browse {display:inline-block;width:34px;height:34px;cursor:pointer;}
.navbws a.prev1 {margin:0 0 0 10px;background:url(../images/articlenpBg.png) 0 0 no-repeat;}
.navbws a.next1 {margin:0 0 0 588px;background:url(../images/articlenpBg.png) 0 -50px no-repeat;}
.navbws a.disabled {filter: Alpha(Opacity=50); opacity:0.5; cursor:default;}
#magz em,#coinBx em {display:block;font-size:13px; height:25px;line-height:25px;}
#coinBx .scrollable {width:642px;height:110px;}
#coinBx .bd {padding:10px 0 0 15px;}
#coinBx .item {float:left; display:inline;text-align:center; width:162px;}
#coinBx .navi { text-align:center;zoom:1; overflow:hidden;width:100px;height:8px; margin:0 auto 10px auto;}
#coinBx .navi a { display:inline-block;width:8px;height:8px; margin:0 2px;background:url(../images/navigator_o.png) 0 0 no-repeat; cursor:pointer;}
#coinBx .navi a:hover {background-position:0 -8px;}
#coinBx .navi a.active {background-position:0 -16px;}
.imgBr2 img {border:1px solid #ddd; padding:1px;}
.imgBr {display:inline-block; border:3px solid #f3f3f3;}
.imgBr img {padding:6px; background:#fff; border:1px solid #e0e0e0;}
#magz li a.imgBr:hover,#coinBx .items a.imgBr:hover{border-color:#fae3b6;}
#magz li a.imgBr:hover img,#coinBx .items a.imgBr:hover img {border-color:#dba946;}


ul.hdNavs.pdlt3 {padding-left:85px;}
/*--- 2013-02-07 edit ---*/
.tbinfo { position:relative; z-index:9;float:right;margin:-23px 10px 0 0;}
.tbinfo a {display:inline-block;margin-left:75px;color:#5476A5;}
.tbinfo a:hover {text-decoration:underline;color:#5476A5;}
.update {font-size:11px;color:#888; margin-left:12px;}
.gads300x250 { margin:3px auto; width:300px; height:250px; overflow:hidden;} 
