﻿@charset "utf-8";
/*--- Name:Reset | Update:2011-12 ---*/
/*--- Reset ---*/
body{text-align:center;-webkit-text-size-adjust:none;color:#333;}
body,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dt,dd,form,th,p,cite,em {margin:0;padding:0;list-style:none;font-weight:normal;font-style:normal;}
a {color:#00529B;text-decoration:none;outline:none; cursor:pointer;}
img,table,th,td {border:0;text-align:left;}
table {border-collapse:collapse;width:100%;color:#333;}
select,textarea,input{color:#666;}
ul,ol,li,dl,dt,dd {zoom:1;overflow:hidden;}
.vl *{vertical-align:middle;}
.clearfix {content:".";display:block;height:0;clear:both;visibility:hidden;_display:inline;}
.blank {display:block;clear:both;height:12px;overflow:hidden;}
.mgbm {margin-bottom:12px;zoom:1;overflow:hidden;}
.g {color:#090!important;}
.r {color:#f00!important;}
.gb,.rb {color:#fff;}
.gb{background-color:#090!important;}
.rb{background-color:#f00!important;}
.lt {text-align:left!important;}
.rt {text-align:right!important;}
.cr {text-align:center!important;}
.cnlt,.cnltpd {font-size:12px!important; text-align:left!important;font-family:"Microsoft JhengHei","微軟正黑體",Arial,sans-serif!important;}
.cnltpd {padding-left:10px!important;}
.disyshow {display:block;}
.disyhidn {display:none;}
.topnav_div {width:55px;margin:auto; overflow:hidden;}
.topnav {background:url(http://www.cnyes.com/images/btnBgs_top.png) 0 0 no-repeat; float:right; text-align:center; font:11px Verdana, sans-serif;}
.topnav a {background:url(http://www.cnyes.com/images/btnBgs_top.png) right 0 no-repeat; color:#333; display:block; margin-left:3px; padding-right:12px; width:40px;height:23px; line-height:23px;}
/*--- Channel overall style ---*/
body,table,select,textarea,input {font-size:12px;font-family:"Microsoft JhengHei","微軟正黑體",Arial,sans-serif;}
#container,#side,#main,#headers,#footers,#masthead {overflow:hidden;}
#masthead,#headers{width:990px; margin:0 auto; text-align:left;height: 118px;}
#masthead {height:24px; line-height:24px;}
#masthead a {color:#999;}
#masthead ul {float:right;}
#masthead li {float:left; display:inline; padding:0 5px; background:url(../images/vline.gif) 0 center no-repeat;}
.head {overflow:hidden;}
ul.memberlinks {color:#888;overflow:hidden; margin:60px 0px 0px 3px; width:210px;}
ul.memberlinks li { line-height:1.5em;font-family: "Microsoft JhengHei","微軟正黑體",Arial,sans-serif;}
ul.memberlinks a:link,ul.memberlinks a:visited {color:#03c;}
ul.memberlinks a:hover { text-decoration:underline;}
#container {width:990px;margin:12px auto; text-align:left;}
.brand { margin:0px; float:left;width:262px;}
.brand h1,.brand h2 {float:left;}
.brand h1 span,.branding span,.brand h2 span { text-indent:20px; position:absolute;z-index:-1; color:#fff;}
.branding {float:left; margin:10px 0px 0px 4px;padding:2px 0px 3px 10px;}
#main {float:left;width:678px;}
#main2{float:right;width:798px;}
#main3{float:left;width:485px;margin-left:10px;}
#side {float:right;width:300px;}
#side2{float:left;width:180px;*padding-top:10px;background:#eef2f5;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;*behavior:url(PIE.htc);}

#nav {width:990px;height:36px;line-height:35px;margin:0 auto;background:url(../images/naviBg.png) #f26404 0 0 repeat-x;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;*behavior:url(PIE.htc);}
#nav a {color:#fff; float:left; margin:0 12px; font-weight:bold;}
#nav a:hover {color:#443931;}
#nav a.navsd {background:url(../images/naviBg.png) center bottom no-repeat;}
#nav ul,#nav li {overflow:visible;}
ul#navs-h {position:relative; height:36px; z-index:99;}
ul#navs-h li {float:left;position:relative;display:inline;font-size:14px;background:url(../images/naviBg.png) right -50px no-repeat;}
ul#navs-h li.current a {color:#fff; font-weight:bold;}
ul#navs-h li.current li a {color:#fff; font-weight:normal;}
ul#navs-h li.current li.current a {color:#fff; font-weight:bold;}
ul#navs-h ul {position:absolute;top:100%;left:0;width:120px; padding:5px 0 8px 0;margin-top:-1px;background:url(../images/navisdBg.png) #f26404 0 bottom no-repeat;}
ul#navs-h ul li {width:100%;display:block;font-size:13px;text-align:left; height:28px; line-height:28px;}
ul#navs-h ul li a { border-bottom:1px solid #f79d42; display:block; float:none;}
ul#navs-h li li:hover a,ul#navs-h li.iehover li a:hover {color:#443931;}
ul#navs-h ul,#navs-h li.iehover ul {display:none;}
ul#navs-h li:hover ul,#navs-h li.iehover ul{display:block;}
ul#navs-h li#home em {float:left;height:36px;line-height:35px;font-size:21px;font-weight:bold;color:#fff;}
ul#navs-h li#home span{display:inline-block;margin-left:3px;font-size:12px;font-weight:bold;color:#fff;filter: Alpha(Opacity=70);opacity:0.7;}

/*------ footers ------*/
#footers {color:#999; width:990px;margin:8px auto; text-align:left; border:1px solid #eee; padding-bottom:5px; overflow:hidden;}
#footers a {color:#666; text-decoration:none;}
.legal{margin-bottom:8px;padding:8px 0px 4px 0px; line-height:1.7em;text-align:center;background-color:#F6F6F6;border-bottom:1px solid #eee;}
.siteinfo ul {margin:0px auto;}
.siteinfo ul li {display:inline;font-family:tahoma; }
.copyrights span {font-size:10px;}
.copyrights,.siteinfo,.contact {overflow:hidden;height:1%;margin:0px 0px 6px 10px;}
.copyrights {margin-bottom:4px;}
.cnyslogo {float:right; margin:-62px 15px 0px 0px;*margin:-58px 10px 0px 0px;}
/*--- Ads Banner ---*/
.gads728x90 {float:right;}
.cyads650x100 em {position:absolute; width:20px; padding:0 4px; line-height:22px; vertical-align:middle; margin-left:-28px; font-size:14px; height:100px; text-align:center; overflow:hidden; background:#736357;}
.cyads650x100 em a {color:#fff;}
.cyads650x100{ float:right; height:100px; width:650px;}
.cyads200x200 {float:left;width:200px;}
.cyads650x250 {zoom:1; overflow:hidden; text-align:center; background:#f8f8f8; height:250px;}
.cyads210x150 span { float:left; width:210px;}
.cyglodtxt {height:1%;overflow:hidden;text-align:center; margin-bottom:3px; padding-top:8px;} 
.cyglodtxt table {table-layout:fixed;}
.cyglodtxt a {color:#03c; text-decoration:underline;font-size:15px;}  
.cyglodtxt a:hover {color:#39c;}
.cyglodtxt td {font: 15px "Microsoft JhengHei","微軟正黑體",Arial,sans-serif;width:13.5em;  white-space:nowrap;overflow:hidden;min-width: 190px; max-width: 190px;}

/*--- 20120409	brian ---*/
h1.h {display:none;}

#topcontrol {position:fixed;_position:absolute;bottom:10px!important;left:50%!important;width:35px;height:35px;margin-left:500px;filter:Alpha(Opacity=0);opacity:0;cursor:pointer;}
.sroltop {display:block;width:35px;height:35px;background:url(http://chart.cnyes.com/images/toparow.png) 0 0 no-repeat;}


/*--- 2017-07-17 add ---*/
.blank10 {height: 10px; overflow: hidden;}