#datepicker_div,.datepicker_inline{ font-family:Arial,Helvetica,sans-serif;font-size:14px;padding:0;margin:0;background:#eee;width:185px}
#datepicker_div{ display:none;border:1px solid #777;z-index:9999}
.datepicker_inline{ float:left;display:block;border:0}
.datepicker_rtl{ direction:rtl}
.datepicker_dialog{ padding:5px !important;border:4px ridge #ddd !important}
button.datepicker_trigger{ width:25px}
img.datepicker_trigger{ margin:2px;vertical-align:middle}
.datepicker_prompt{ float:left;padding:2px;background:#ddd;color:#000}
* html .datepicker_prompt{ width:185px}
.datepicker_control,.datepicker_links,.datepicker_header,.datepicker{ clear:both;float:left;width:100%;color:#fff}
.datepicker_control{ background:#400;padding:2px 0px}.datepicker_links{ background:#000;padding:2px 0px}
.datepicker_control,.datepicker_links{ font-weight:bold;font-size:80%;letter-spacing:1px}
.datepicker_links label{ padding:2px 5px;color:#888}
.datepicker_clear,.datepicker_prev{ float:left;width:34%}
.datepicker_rtl .datepicker_clear,.datepicker_rtl .datepicker_prev{ float:right;text-align:right}
.datepicker_current{ float:left;width:30%;text-align:center}
.datepicker_close,.datepicker_next{ float:right;width:34%;text-align:right}
.datepicker_rtl .datepicker_close,.datepicker_rtl .datepicker_next{ float:left;text-align:left}
.datepicker_header{ padding:1px 0 3px;background:#333;text-align:center;font-weight:bold;height:1.3em}
.datepicker_header select{ background:#333;color:#fff;border:0px;font-weight:bold}
.datepicker{ background:#eee;text-align:center;font-size:100%}
.datepicker a{ display:block;width:100%}
.datepicker_titleRow{ background:#eee}
.datepicker_daysRow{ background:#eee;color:#eee}
.datepicker_weekCol{ background:#eee;color:#fff}
.datepicker_daysCell{ color:#eee;border:1px solid #ddd}
.datepicker_daysCell a{ display:block}
.datepicker_weekEndCell{ background:#eee}
.datepicker_titleRow .datepicker_weekEndCell{ background:#777}
.datepicker_daysCellOver{ background:#eee;border:1px solid #777}
.datepicker_unselectable{ color:#eee}
.datepicker_today{ background:#fcc !important}
.datepicker_currentDay{ background:#999 !important}
.datepicker_status{ background:#ddd;width:100%;font-size:80%;text-align:center}
#datepicker_div a,.datepicker_inline a{ cursor:pointer;margin:0;padding:0;background:none;color:#000}
.datepicker_inline .datepicker_links a{ padding:0 5px !important}
.datepicker_control a,.datepicker_links a{ padding:2px 5px !important;color:#eee !important}
.datepicker_titleRow a{ color:#eee !important}
.datepicker_control a:hover{ background:#eee !important;color:#333 !important}
.datepicker_links a:hover,.datepicker_titleRow a:hover{ background:#eee !important;color:#333 !important}
.datepicker_multi .datepicker{ border:1px solid #777}
.datepicker_oneMonth{ float:left;width:185px}
.datepicker_newRow{ clear:left}
.datepicker_cover{ display:none;display:block;position:absolute;z-index:-1;
filter:mask();top:-4px;left:-4px;width:200px;height:200px}