﻿<%@ Page Language="C#" EnableViewState="false" EnableEventValidation="false" AutoEventWireup="true" CodeFile="batRightList.aspx.cs"
    Inherits="batRightList" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<%@ Register Src="UCs/MoneyTools.ascx" TagName="MoneyTools" TagPrefix="uc5" %>
<%@ Register Src="UCs/FundGood.ascx" TagName="FundGood" TagPrefix="uc1" %>
<%@ Register Src="UCs/HomeBankRate.ascx" TagName="HomeBankRate" TagPrefix="uc2" %>
<%@ Register Src="UCs/GLidx.ascx" TagName="GLidx" TagPrefix="uc3" %>
    <div id="side">
        <div class="gads300x250 mgbm">
            <iframe src="http://mo.cnyes.com/showad.ad?TAG=MONEYHOME_RIGHT" frameborder="no"
                vspace="0" hspace="0" width="300" height="250" marginheight="0" marginwidth="0"
                scrolling="no"></iframe>
        </div>
        <!-- Ads gads300x250:end -->
        <uc1:FundGood ID="FundGood1" runat="server" />
        <!-- 基金促銷活動:end -->
        <uc2:HomeBankRate ID="HomeBankRate1" runat="server" />
        <!-- 各銀行利率:end -->
        <uc5:MoneyTools ID="MoneyTools1" runat="server" />
        <!-- 理財小工具:end -->
        <uc3:GLidx ID="GLidx1" runat="server" />
        <!-- 國際指數:end -->
    </div>
