﻿<div id="side"><div class="gads300x250 mgbm"> <iframe src="http://mo.cnyes.com/showad.ad?TAG=STOCKV2_RIGHT" frameborder="no" vspace="0" hspace="0" width="300" height="250" marginheight="0" marginwidth="0" scrolling="no"></iframe> </div> <div id="moneytools" class="mgbm">
<div class="hd2"><h3>理財小工具</h3></div>
<ul class="listbtns">
<li><a href="/Money/BankCalculation.aspx?t=1" title="銀行定存">銀行定存</a></li>
<li><a href="/Money/Housing.aspx?t=1" title="購屋出租-投資報酬率">購屋出租-投資報酬率</a></li>
<li><a href="/Money/BankCalculation.aspx?t=7" title="年金終值">年金終值</a></li>
<li><a href="/Money/Housing.aspx?t=3" title="購屋需準備多少錢">購屋需準備多少錢</a></li>
<li><a href="/Money/InvestCalculation.aspx?t=1" title="基金試算">基金試算</a></li>
<li><a href="/Money/Housing.aspx?t=4" title="房貸-本息平均攤還">房貸-本息平均攤還</a></li>
<li><a href="/Money/InvestCalculation.aspx?t=3" title="股票報酬率">股票報酬率</a></li>
<li><a href="/Money/Housing.aspx?t=5" title="房貸-本金平均攤還">房貸-本金平均攤還</a></li>
<li><a href="/Money/InvestCalculation.aspx?t=2" title="租金報酬率">租金報酬率</a></li>
<li><a href="/Money/Housing.aspx?t=6" title="房貸-雙週還款">房貸-雙週還款</a></li>
<li><a href="/Money/CreditCalculation.aspx?t=1" title="貸款付款金額試算">貸款付款金額試算</a></li>
<li><a href="/Money/Housing.aspx?t=7" title="房貸-多段利率">房貸-多段利率</a></li>
<li><a href="/Money/CreditCalculation.aspx?t=2" title="貸款利率試算">貸款利率試算</a></li>
<li><a href="/Money/RetireCalculation.aspx?t=1" title="退休要準備多少錢">退休要準備多少錢</a></li>
</ul>
</div>

<div id="bankrate" class="mgbm">
<div class="hd2"><h3>各銀行利率</h3></div>
<ul class="listlinks">
<li><a href="/money/PublicRate1.aspx" title="銀行牌告利率">銀行牌告利率</a></li>	 
<li><a href="/money/BankDetail/7010000.aspx" title="台灣郵政儲金利率">台灣郵政儲金利率</a></li>
<li><a href="/money/PublicRate4.aspx" title="活期存款">活期存款</a></li> 
<li><a href="/money/PublicRate8.aspx" title="活期儲蓄存款">活期儲蓄存款</a></li>
<li><a href="/money/PublicRate5.aspx" title="定期(儲)存款">定期(儲)存款</a></li>	 
<li><a href="/money/PublicRate15.aspx" title="指數房貸利率">指數房貸利率</a></li>
<li><a href="/money/PublicRate12.aspx" title="薪資轉帳活期儲蓄">薪資轉帳活期儲蓄</a></li>	 
<li><a href="/money/PublicRate16.aspx" title="証券戶活期儲蓄存款">証券戶活期儲蓄存款</a></li>
<li><a href="/money/PublicRate10.aspx" title="信用卡最低利率">信用卡最低利率</a></li>	 
<li><a href="/money/PublicRate6.aspx" title="信用卡最高利率">信用卡最高利率</a></li>
<li><a href="/money/PublicRate18.aspx" title="現金卡最低利率">現金卡最低利率</a></li>	 
<li><a href="/money/PublicRate14.aspx" title="現金卡最高利率">現金卡最高利率</a></li>
<li><a href="/money/PublicRate3.aspx" title="基準利率">基準利率</a></li>	 
<li><a href="/money/PublicRate7.aspx" title="基準利率之指標利率">基準利率之指標利率</a></li>
</ul>
</div>

<div id="goodnews" class="mgbm">
<div class="hd"><h3>基金促銷活動</h3><span class="mlinks"><a href="http://fund.cnyes.com/Page/good.aspx" title="更多基金促銷活動" target="_blank">更多+</a></span></div>
<ul class="listing3">
    <li><span class="dtime">2015/01/06</span><a href="https://www.capitalfund.com.tw/html/fund/ec/promo/141130/index.html?utm_source=cnYes&utm_medium=goodnews_open_Q2Zero&utm_campaign=goldenflora" title="群益環球金綻雙喜基金 限時開募優惠中" target="_blank">群益環球金綻雙喜基金 限時開募優惠中</a></li><li><span class="dtime">2014/06/23</span><a href="http://www.capitalfund.com.tw/html/fund/ec/promo/140523/index.html?utm_source=cnYes&utm_medium=goodnews_open_Zero3&utm_campaign=G8" title="把握美歐股息契機  定額限時0手續費" target="_blank">把握美歐股息契機  定額限時0手續費</a></li><li><span class="dtime">2014/06/04</span><a href="http://www.capitalfund.com.tw/html/fund/ec/promo/140523/index.html?utm_source=cnYes&utm_medium=goodnews_open_Zero3&utm_campaign=G8" title="6/17 定期定額群益工業國入息基金 優惠限定中" target="_blank">6/17 定期定額群益工業國入息基金 優惠限定中</a></li><li><span class="dtime">2014/05/27</span><a href="http://www.capitalfund.com.tw/html/fund/ec/promo/140523/index.html?utm_source=cnYes&utm_medium=goodnews_open_Zero&utm_campaign=G8" title="6/17 至 6/20 單筆申購群益工業國入息基金 享 0.2%" target="_blank">6/17 至 6/20 單筆申購群益工業國入息基金 享 0.2%</a></li><li><span class="dtime">2014/04/30</span><a href="http://www.ingfunds.com.tw/activity/201404_Q2_RSP/SPEC/index.html" title="【ING投信】定時(不)定額 : 精選20檔基金終身0%手續費" target="_blank">【ING投信】定時(不)定額 : 精選20檔基金終身0%手續費</a></li>
</ul>
</div><!-- 基金促銷活動:end -->
<div id="idx" class="mgbm">
<ul class="hdNavs wd5b">
<li><a href="http://www.cnyes.com/global/IndexImmediateQuotedPrice/" target="_blank" title="國際" >國際</a></li>
<li><a href="http://www.cnyes.com/global/IndexImmediateQuotedPrice/002/QuotationPrice.aspx" target="_blank" title="亞洲" >亞洲</a></li>
<li><a href="http://www.cnyes.com/global/IndexImmediateQuotedPrice/003/QuotationPrice.aspx" target="_blank" title="歐洲" >歐洲</a></li>
<li><a href="http://www.cnyes.com/global/IndexImmediateQuotedPrice/004/QuotationPrice.aspx" target="_blank" title="美洲" >美洲</a></li>
<li><a href="http://www.cnyes.com/futures/price.aspx" target="_blank" title="商品" >商品</a></li>
</ul>

<div class="fmTb">
<div class="Bx">
<table cellspacing="0" cellpadding="0">
<thead>
<tr>
<th class="nthBg">名稱</th>
<th>成交</th>
<th>漲跌</th>
<th>漲%</th>
<th>時間</th>
</tr>
</thead>
<tbody>
<tr><td class="cnlt"><a title="日經225" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=JP&amp;symbol=NKY" target="_blank">日經225</a></td><td class="r"> 19531.63</td><td class="r"> 11.62</td><td class="r"> 0.06</td><td>14:05</td></tr><tr class="odd"><td class="cnlt"><a title="南韓綜合" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=KR&amp;symbol=KOSPI" target="_blank">南韓綜合</a></td><td class="g"> 2127.17</td><td class="g"> -15.46</td><td class="g"> -0.72</td><td>17:03</td></tr><tr><td class="cnlt"><a title="台股加權" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=TW&amp;symbol=TWSE" target="_blank">台股加權</a></td><td class="g"> 9820.05</td><td class="g"> -33.78</td><td class="g"> -0.34</td><td>16:15</td></tr><tr class="odd"><td class="cnlt"><a title="香港恆生" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=HK&amp;symbol=HSI" target="_blank">香港恆生</a></td><td class="g"> 28133.00</td><td class="g"> -267.34</td><td class="g"> -0.94</td><td>17:32</td></tr><tr><td class="cnlt"><a title="上証" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=CN&amp;symbol=SHI" target="_blank">上証</a></td><td class="g"> 4441.66</td><td class="g"> -0.01</td><td class="g"> 0.00</td><td>15:00</td></tr><tr class="odd"><td class="cnlt"><a title="英國FTSE100" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=UK&amp;symbol=UKX" target="_blank">英國FTSE100</a></td><td class="r"> 6985.95</td><td class="r"> 25.32</td><td class="r"> 0.36</td><td>23:35</td></tr><tr><td class="cnlt"><a title="CBOE S&amp;P500波動率" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=US&amp;symbol=VIX" target="_blank">CBOE S&amp;P500波動率</a></td><td class="g"> 12.70</td><td class="g"> -1.85</td><td class="g"> -12.71</td><td>04:10</td></tr><tr class="odd"><td class="cnlt"><a title="德國Xetra DAX" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=DE&amp;symbol=DAX" target="_blank">德國Xetra DAX</a></td><td class="r"> 11454.38</td><td class="r"> 21.66</td><td class="r"> 0.19</td><td>04:41</td></tr><tr><td class="cnlt"><a title="法國CAC40" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=FR&amp;symbol=CAC" target="_blank">法國CAC40</a></td><td class="r"> 5046.49</td><td class="r"> 7.10</td><td class="r"> 0.14</td><td>00:00</td></tr><tr class="odd"><td class="cnlt"><a title="道瓊" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=US&amp;symbol=INDU" target="_blank">道瓊</a></td><td class="r"> 18024.06</td><td class="r"> 183.54</td><td class="r"> 1.03</td><td>04:33</td></tr><tr><td class="cnlt"><a title="NASDAQ" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=US&amp;symbol=NASDAQ" target="_blank">NASDAQ</a></td><td class="r"> 5005.39</td><td class="r"> 63.97</td><td class="r"> 1.28</td><td>04:00</td></tr><tr class="odd"><td class="cnlt"><a title="S&amp;P 500" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=US&amp;symbol=SPX" target="_blank">S&amp;P 500</a></td><td class="r"> 2108.29</td><td class="r"> 22.78</td><td class="r"> 1.09</td><td>04:05</td></tr><tr><td class="cnlt"><a title="費城半導體" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=US&amp;symbol=SOX" target="_blank">費城半導體</a></td><td class="r"> 705.50</td><td class="r"> 19.21</td><td class="r"> 2.80</td><td>04:05</td></tr>
</tbody>
</table>
</div><!-- 國際指數:end -->
<div class="Bx">
<table cellspacing="0" cellpadding="0">
<thead>
<tr>
<th class="nthBg">名稱</th>
<th>成交</th>
<th>漲跌</th>
<th>漲%</th>
<th>時間</th>
</tr>
</thead>
<tbody>
<tr><td class="cnlt"><a title="紐西蘭NZSE50" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=NZ&amp;symbol=NZSE50" target="_blank">紐西蘭NZSE50</a></td><td class="r"> 5797.40</td><td class="r"> 6.06</td><td class="r"> 0.10</td><td>13:01</td></tr><tr class="odd"><td class="cnlt"><a title="澳洲ASX普通股" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=AU&amp;symbol=AS30" target="_blank">澳洲ASX普通股</a></td><td class="r"> 5798.80</td><td class="r"> 25.10</td><td class="r"> 0.43</td><td>14:35</td></tr><tr><td class="cnlt"><a title="日經225" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=JP&amp;symbol=NKY" target="_blank">日經225</a></td><td class="r"> 19531.63</td><td class="r"> 11.62</td><td class="r"> 0.06</td><td>14:05</td></tr><tr class="odd"><td class="cnlt"><a title="南韓綜合" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=KR&amp;symbol=KOSPI" target="_blank">南韓綜合</a></td><td class="g"> 2127.17</td><td class="g"> -15.46</td><td class="g"> -0.72</td><td>17:03</td></tr><tr><td class="cnlt"><a title="台股加權" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=TW&amp;symbol=TWSE" target="_blank">台股加權</a></td><td class="g"> 9820.05</td><td class="g"> -33.78</td><td class="g"> -0.34</td><td>16:15</td></tr><tr class="odd"><td class="cnlt"><a title="香港恆生" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=HK&amp;symbol=HSI" target="_blank">香港恆生</a></td><td class="g"> 28133.00</td><td class="g"> -267.34</td><td class="g"> -0.94</td><td>17:32</td></tr><tr><td class="cnlt"><a title="上証" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=CN&amp;symbol=SHI" target="_blank">上証</a></td><td class="g"> 4441.66</td><td class="g"> -0.01</td><td class="g"> 0.00</td><td>15:00</td></tr><tr class="odd"><td class="cnlt"><a title="新加坡海峽" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=SG&amp;symbol=STI" target="_blank">新加坡海峽</a></td><td class="r"> 3487.39</td><td class="r"> 0.24</td><td class="r"> 0.01</td><td>17:16</td></tr><tr><td class="cnlt"><a title="馬來西亞綜合" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=MY&amp;symbol=KLCI" target="_blank">馬來西亞綜合</a></td><td class="g"> 1818.27</td><td class="g"> -24.66</td><td class="g"> -1.34</td><td>17:05</td></tr><tr class="odd"><td class="cnlt"><a title="菲律賓綜合" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=PH&amp;symbol=PCOMP" target="_blank">菲律賓綜合</a></td><td class="g"> 7714.82</td><td class="g"> -110.65</td><td class="g"> -1.41</td><td>21:14</td></tr><tr><td class="cnlt"><a title="印尼綜合" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=ID&amp;symbol=JCI" target="_blank">印尼綜合</a></td><td class="g"> 5086.43</td><td class="g"> -19.14</td><td class="g"> -0.37</td><td>23:51</td></tr><tr class="odd"><td class="cnlt"><a title="泰國綜合" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=TH&amp;symbol=SET" target="_blank">泰國綜合</a></td><td class="r"> 1526.74</td><td class="r"> 4.27</td><td class="r"> 0.28</td><td>18:09</td></tr><tr><td class="cnlt"><a title="印度CNX NIFTY" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=IN&amp;symbol=NIFTY" target="_blank">印度CNX NIFTY</a></td><td class="g"> 8181.50</td><td class="g"> -58.25</td><td class="g"> -0.71</td><td>22:35</td></tr>
</tbody>
</table>
</div><!-- 亞洲:end -->
<div class="Bx">
<table cellspacing="0" cellpadding="0">
<thead>
<tr>
<th class="nthBg">名稱</th>
<th>成交</th>
<th>漲跌</th>
<th>漲%</th>
<th>時間</th>
</tr>
</thead>
<tbody>
<tr><td class="cnlt"><a title="英國FTSE100" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=UK&amp;symbol=UKX" target="_blank">英國FTSE100</a></td><td class="r"> 6985.95</td><td class="r"> 25.32</td><td class="r"> 0.36</td><td>23:35</td></tr><tr class="odd"><td class="cnlt"><a title="德國Xetra DAX" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=DE&amp;symbol=DAX" target="_blank">德國Xetra DAX</a></td><td class="r"> 11454.38</td><td class="r"> 21.66</td><td class="r"> 0.19</td><td>04:41</td></tr><tr><td class="cnlt"><a title="法國CAC40" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=FR&amp;symbol=CAC" target="_blank">法國CAC40</a></td><td class="r"> 5046.49</td><td class="r"> 7.10</td><td class="r"> 0.14</td><td>00:00</td></tr><tr class="odd"><td class="cnlt"><a title="瑞士SMI市場" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=CH&amp;symbol=SMI" target="_blank">瑞士SMI市場</a></td><td class="g"> 9077.12</td><td class="g"> -27.93</td><td class="g"> -0.31</td><td>00:12</td></tr><tr><td class="cnlt"><a title="義大利MIB30" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=IT&amp;symbol=MIB30" target="_blank">義大利MIB30</a></td><td class="r"> 23045.52</td><td class="r"> 49.89</td><td class="r"> 0.22</td><td>23:41</td></tr><tr class="odd"><td class="cnlt"><a title="荷蘭AEX" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=NL&amp;symbol=AEX" target="_blank">荷蘭AEX</a></td><td class="g"> 487.85</td><td class="g"> -1.41</td><td class="g"> -0.29</td><td>00:00</td></tr><tr><td class="cnlt"><a title="芬蘭OMX全股" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=FI&amp;symbol=HEX" target="_blank">芬蘭OMX全股</a></td><td class="g"> 8517.59</td><td class="g"> -132.49</td><td class="g"> -1.53</td><td>00:54</td></tr><tr class="odd"><td class="cnlt"><a title="瑞典OMX30" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=SE&amp;symbol=OMX30" target="_blank">瑞典OMX30</a></td><td class="g"> 1628.04</td><td class="g"> -8.14</td><td class="g"> -0.50</td><td>00:54</td></tr><tr><td class="cnlt"><a title="匈牙利BUX" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=HU&amp;symbol=BUX" target="_blank">匈牙利BUX</a></td><td class="r"> 22612.46</td><td class="r"> 291.23</td><td class="r"> 1.30</td><td>23:25</td></tr><tr class="odd"><td class="cnlt"><a title="波蘭WIG" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=PL&amp;symbol=WIG" target="_blank">波蘭WIG</a></td><td class="g"> 56477.69</td><td class="g"> -81.71</td><td class="g"> -0.14</td><td>23:55</td></tr><tr><td class="cnlt"><a title="俄羅斯RTS" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=RU&amp;symbol=RTSI" target="_blank">俄羅斯RTS</a></td><td class="g"> 1029.31</td><td class="g"> -2.47</td><td class="g"> -0.24</td><td>23:50</td></tr><tr class="odd"><td class="cnlt"><a title="希臘ASE" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=GR&amp;symbol=ASE" target="_blank">希臘ASE</a></td><td class="r"> 822.88</td><td class="r"> 24.89</td><td class="r"> 3.12</td><td>22:41</td></tr><tr><td class="cnlt"><a title="西班牙IBEX35" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=ES&amp;symbol=IBEX" target="_blank">西班牙IBEX35</a></td><td class="r"> 11385.00</td><td class="r"> 6.10</td><td class="r"> 0.05</td><td>12:03</td></tr><tr class="odd"><td class="cnlt"><a title="南非FTSJ" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=ZA&amp;symbol=FTSJ" target="_blank">南非FTSJ</a></td><td class="g"> 54440.43</td><td class="g"> -101.31</td><td class="g"> -0.19</td><td>03:14</td></tr>
</tbody>
</table>
</div><!-- 歐洲:end -->
<div class="Bx">
<table cellspacing="0" cellpadding="0">
<thead>
<tr>
<th class="nthBg">名稱</th>
<th>成交</th>
<th>漲跌</th>
<th>漲%</th>
<th>時間</th>
</tr>
</thead>
<tbody>
<tr><td class="cnlt"><a title="E-Mini道瓊期指電子盤" href="http://www.cnyes.com/futures/flashchart/YMCON.html" target="_blank">E-Mini道瓊期指電子盤</a></td><td class="r"> 17941.00</td><td class="r"> 182.00</td><td class="r"> 1.02</td><td>5:15</td></tr><tr class="odd"><td class="cnlt"><a title="E-Mini S&amp;P期指電子盤" href="http://www.cnyes.com/futures/flashchart/ESCON.html" target="_blank">E-Mini S&amp;P期指電子盤</a></td><td class="r"> 2102.25</td><td class="r"> 23.25</td><td class="r"> 1.12</td><td>5:15</td></tr><tr><td class="cnlt"><a title="E-Mini NASDAQ電子盤" href="http://www.cnyes.com/futures/flashchart/NQCON.html" target="_blank">E-Mini NASDAQ電子盤</a></td><td class="r"> 4468.75</td><td class="r"> 60.50</td><td class="r"> 1.37</td><td>5:15</td></tr><tr class="odd"><td class="cnlt"><a title="CBOE S&amp;P500波動率指數" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=US&amp;symbol=VIX" target="_blank">CBOE S&amp;P500波動率指數</a></td><td class="g"> 12.70</td><td class="g"> -1.85</td><td class="g"> -12.71</td><td>04:10</td></tr><tr><td class="cnlt"><a title="道瓊" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=US&amp;symbol=INDU" target="_blank">道瓊</a></td><td class="r"> 18024.06</td><td class="r"> 183.54</td><td class="r"> 1.03</td><td>04:33</td></tr><tr class="odd"><td class="cnlt"><a title="NASDAQ指數" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=US&amp;symbol=NASDAQ" target="_blank">NASDAQ指數</a></td><td class="r"> 5005.39</td><td class="r"> 63.97</td><td class="r"> 1.28</td><td>04:00</td></tr><tr><td class="cnlt"><a title="NYSE指數" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=US&amp;symbol=NYA" target="_blank">NYSE指數</a></td><td class="r"> 11140.37</td><td class="r"> 90.63</td><td class="r"> 0.82</td><td>04:15</td></tr><tr class="odd"><td class="cnlt"><a title="S&amp;P 500指數" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=US&amp;symbol=SPX" target="_blank">S&amp;P 500指數</a></td><td class="r"> 2108.29</td><td class="r"> 22.78</td><td class="r"> 1.09</td><td>04:05</td></tr><tr><td class="cnlt"><a title="羅素2000指數" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=US&amp;symbol=RUT" target="_blank">羅素2000指數</a></td><td class="r"> 1228.11</td><td class="r"> 7.98</td><td class="r"> 0.65</td><td>04:35</td></tr><tr class="odd"><td class="cnlt"><a title="羅素1000指數" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=US&amp;symbol=RUI" target="_blank">羅素1000指數</a></td><td class="r"> 1176.23</td><td class="r"> 12.20</td><td class="r"> 1.05</td><td>05:39</td></tr><tr><td class="cnlt"><a title="費城半導體指數" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=US&amp;symbol=SOX" target="_blank">費城半導體指數</a></td><td class="r"> 705.50</td><td class="r"> 19.21</td><td class="r"> 2.80</td><td>04:05</td></tr><tr class="odd"><td class="cnlt"><a title="加拿大S&amp;P TSX指數" href="http://www.cnyes.com/global/astock/flashchart.aspx?area=CA&amp;symbol=TS300" target="_blank">加拿大S&amp;P TSX指數</a></td><td class="r"> 15339.77</td><td class="r"> 115.25</td><td class="r"> 0.76</td><td>04:42</td></tr>
</tbody>
</table>
</div><!-- 美洲:end -->
<div class="Bx">
<table cellspacing="0" cellpadding="0">
<thead>
<tr>
<th class="nthBg">名稱</th>
<th>成交</th>
<th>漲跌</th>
<th>漲%</th>
<th>時間</th>
</tr>
</thead>
<tbody>
<tr><td class="cnlt"><a title="近月黃金" href="http://www.cnyes.com/futures/flashchart/GCCON.html" target="_blank">近月黃金</a></td><td class="g"> 1177.40</td><td class="g"> -5.00</td><td class="g"> -0.42</td><td>05:15</td></tr><tr class="odd"><td class="cnlt"><a title="近月白銀" href="http://www.cnyes.com/futures/flashchart/SICON.html" target="_blank">近月白銀</a></td><td class="g"> 16.13</td><td class="g"> -0.03</td><td class="g"> -0.17</td><td>05:15</td></tr><tr><td class="cnlt"><a title="近月白金" href="http://www.cnyes.com/futures/flashchart/PLCON.html" target="_blank">近月白金</a></td><td class="g"> 1130.80</td><td class="g"> -9.60</td><td class="g"> -0.84</td><td>05:15</td></tr><tr class="odd"><td class="cnlt"><a title="近月鈀金" href="http://www.cnyes.com/futures/flashchart/PACON.html" target="_blank">近月鈀金</a></td><td class="g"> 773.70</td><td class="g"> -2.80</td><td class="g"> -0.36</td><td>05:15</td></tr><tr><td class="cnlt"><a title="近月原油" href="http://www.cnyes.com/futures/flashchart/CLCON.html" target="_blank">近月原油</a></td><td class="g"> 59.26</td><td class="g"> -0.37</td><td class="g"> -0.62</td><td>05:15</td></tr><tr class="odd"><td class="cnlt"><a title="近月熱燃油" href="http://www.cnyes.com/futures/flashchart/HOCON.html" target="_blank">近月熱燃油</a></td><td class="r"> 1.98</td><td class="r"> 0.00</td><td class="r"> 0.15</td><td>05:15</td></tr><tr><td class="cnlt"><a title="近月天然氣" href="http://www.cnyes.com/futures/flashchart/NGCON.html" target="_blank">近月天然氣</a></td><td class="r"> 2.77</td><td class="r"> 0.02</td><td class="r"> 0.65</td><td>05:15</td></tr><tr class="odd"><td class="cnlt"><a title="近月高銅" href="http://www.cnyes.com/futures/flashchart/HGCON.html" target="_blank">近月高銅</a></td><td class="r"> 2.94</td><td class="r"> 0.05</td><td class="r"> 1.68</td><td>05:15</td></tr><tr><td class="cnlt"><a title="近月小麥" href="http://www.cnyes.com/futures/flashchart/WCON.html" target="_blank">近月小麥</a></td><td class="r"> 474.00</td><td class="r"> 0.00</td><td class="r"> 0.00</td><td>04:51</td></tr><tr class="odd"><td class="cnlt"><a title="近月玉米" href="http://www.cnyes.com/futures/flashchart/CCON.html" target="_blank">近月玉米</a></td><td class="g"> 363.00</td><td class="g"> -3.25</td><td class="g"> -0.89</td><td>04:58</td></tr><tr><td class="cnlt"><a title="近月黃豆" href="http://www.cnyes.com/futures/flashchart/SCON.html" target="_blank">近月黃豆</a></td><td class="g"> 964.75</td><td class="g"> -11.25</td><td class="g"> -1.15</td><td>04:47</td></tr><tr class="odd"><td class="cnlt"><a title="近月可可" href="http://www.cnyes.com/futures/flashchart/CCCON.html" target="_blank">近月可可</a></td><td class="g"> 2898.00</td><td class="g"> -45.00</td><td class="g"> -1.53</td><td>02:30</td></tr><tr><td class="cnlt"><a title="近月咖啡" href="http://www.cnyes.com/futures/flashchart/KCCON.html" target="_blank">近月咖啡</a></td><td class="g"> 134.20</td><td class="g"> -3.25</td><td class="g"> -2.36</td><td>02:31</td></tr><tr class="odd"><td class="cnlt"><a title="近月活牛" href="http://www.cnyes.com/futures/flashchart/LCCON.html" target="_blank">近月活牛</a></td><td class="g"> 149.18</td><td class="g"> -0.53</td><td class="g"> -0.35</td><td>02:20</td></tr><tr><td class="cnlt"><a title="近月活豬" href="http://www.cnyes.com/futures/flashchart/LHCON.html" target="_blank">近月活豬</a></td><td class="g"> 76.00</td><td class="g"> -0.95</td><td class="g"> -1.23</td><td>02:20</td></tr><tr class="odd"><td class="cnlt"><a title="近月糖" href="http://www.cnyes.com/futures/flashchart/SBCON.html" target="_blank">近月糖</a></td><td class="g"> 12.91</td><td class="g"> -0.27</td><td class="g"> -2.05</td><td>02:13</td></tr><tr><td class="cnlt"><a title="近月柳橙汁" href="http://www.cnyes.com/futures/flashchart/OJCON.html" target="_blank">近月柳橙汁</a></td><td class="r"> 120.00</td><td class="r"> 4.70</td><td class="r"> 4.08</td><td>03:00</td></tr><tr class="odd"><td class="cnlt"><a title="近月棉花" href="http://www.cnyes.com/futures/flashchart/CTCON.html" target="_blank">近月棉花</a></td><td class="g"> 66.61</td><td class="g"> -1.27</td><td class="g"> -1.87</td><td>02:24</td></tr>
</tbody>
</table>
</div><!-- 商品:end -->
</div><!-- fmTb:end -->
</div><!-- 國際指數:end --></div>