﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="bcdeposit.aspx.cs" Inherits="bcdeposit" EnableViewStateMac ="true" MasterPageFile="~/MPs/MP1.master" %>
<%@ OutputCache Duration="60" VaryByParam="*" %>

<%@ Register Src="~/UCs/bcdeposit.ascx" TagName="bcdeposit" TagPrefix="uc" %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

 <uc:bcdeposit ID="uc_bcdeposit" runat="server" />
 </asp:Content>