<%@ Page Language="C#" AutoEventWireup="true" CodeFile="bcforeign.aspx.cs" Inherits="bcforeign" EnableViewStateMac ="true" MasterPageFile="~/MPs/MP1.master" %>
<%@ OutputCache Duration="60" VaryByParam="*" %>

<%@ Register Src="~/UCs/bcforeign.ascx" TagName="bcforeign" TagPrefix="uc" %>



<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

 <uc:bcforeign ID="uc_bcforeign" runat="server" />
 </asp:Content>