<%@ Page Language="C#" AutoEventWireup="true" CodeFile="bkexchge.aspx.cs" Inherits="bkexchge" EnableViewStateMac ="true" MasterPageFile="~/MPs/MP1.master" %>
<%@ OutputCache Duration="60" VaryByParam="*" %>

<%@ Register Src="~/UCs/bkexchge.ascx" TagName="bkexchge" TagPrefix="uc" %>


<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">

 <uc:bkexchge ID="uc_bkexchge" runat="server" />
 </asp:Content>