<%@ Page Language="C#" AutoEventWireup="true" CodeFile="cashbc.aspx.cs" Inherits="bcdeposit" EnableViewStateMac ="true" MasterPageFile="~/MPs/MP1.master" %>
<%@ OutputCache Duration="60" VaryByParam="*" %>

<%@ Register Src="~/UCs/cashbc.ascx" TagName="cashbc" TagPrefix="uc" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <uc:cashbc ID="uc_cashbc" runat="server" />
 </asp:Content>