<%@ Page Language="C#" AutoEventWireup="true" CodeFile="creditbc.aspx.cs" Inherits="bcdeposit" EnableViewStateMac ="true" MasterPageFile="~/MPs/MP1.master" %>
<%@ OutputCache Duration="60" VaryByParam="*" %>

<%@ Register Src="~/UCs/creditbc.ascx" TagName="creditbc" TagPrefix="uc" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <uc:creditbc ID="uc_creditbc" runat="server" />
 </asp:Content>