<%@ Page Language="C#" AutoEventWireup="true" CodeFile="housebc.aspx.cs" Inherits="bcdeposit" EnableViewStateMac ="true" MasterPageFile="~/MPs/MP1.master"%>

<%@ Register Src="~/UCs/housebc.ascx" TagName="housebc" TagPrefix="uc" %>

<%@ OutputCache Duration="60" VaryByParam="*" %>

<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
 <uc:housebc ID="uc_housebc" runat="server" />
 </asp:Content>