﻿<%@ Page Language="C#" MasterPageFile="~/MPs/MP1.master" AutoEventWireup="true" CodeFile="Index.aspx.cs" Inherits="Index" %>
<asp:Content ID="Content1" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    
</asp:Content>