﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="t001.aspx.cs" Inherits="t001" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
    <link href="css/public.css" rel="stylesheet" type="text/css" />
    <link href="css/money.css" rel="stylesheet" type="text/css" />
</head>
<body>
    <form id="form1" runat="server">
    <div>
    

    
        <asp:Button ID="Button1" runat="server" Text="GO" onclick="Button1_Click" />
        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/t002.aspx">GO</asp:HyperLink>

    
    </div>
    </form>
</body>
</html>
