﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="t010.aspx.cs" Inherits="t010" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        
        -------------------------------------------------------------------<br />
        
        銀行服務-銀行換匯<br />
        -------------------------------------------------------------------
        <br />
        <asp:Literal ID="Literal1" runat="server"></asp:Literal>
        資料參考：<a href="http://money.cnyes.com/bk_rate_search.asp">http://money.cnyes.com/bk_rate_search.asp</a><br />
        <br />
        <br />
        ddl-幣別<br />
        <asp:DropDownList ID="DropDownList1" runat="server">
        </asp:DropDownList>
        <br />
        <br />
        <br />
        ddl-銀行<br />
        <asp:DropDownList ID="DropDownList2" runat="server">
        </asp:DropDownList>
        <br />
        <br />
        <br />
        選擇幣別 [B-現金買進&nbsp;&nbsp;&nbsp; S-現今賣出&nbsp;&nbsp;&nbsp; B1-即期買進&nbsp;&nbsp;&nbsp; 
        S1-即期賣出]<asp:GridView ID="GridView1" runat="server">
        </asp:GridView>
        <br />
        <br />
        選擇銀行<asp:GridView ID="GridView2" runat="server">
        </asp:GridView>
    </div>
    </form>
</body>
</html>
