﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="t013.aspx.cs" Inherits="t013" %>
<%@ Register Assembly="DundasWebChart" Namespace="Dundas.Charting.WebControl" TagPrefix="DCWC" %>
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title></title>
</head>
<body>
    <form id="form1" runat="server">
11
    <DCWC:Chart ID="Chart1" runat="server" Palette="Pastel">
        <Series>
            <DCWC:Series Name="Default_AutoRunWizard">
            </DCWC:Series>
        </Series>
        <ChartAreas>
            <DCWC:ChartArea Name="Default">
            </DCWC:ChartArea>
        </ChartAreas>
    </DCWC:Chart>
    </form>
</body>
</html>
