﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="test.aspx.cs" Inherits="test" %>

<%@ Register Src="~/UCs/money_chart.ascx" TagName="money_chart" TagPrefix="uc" %>

<uc:money_chart ID="uc_money_chart" runat="server" />
