﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="aa.ascx.cs" Inherits="Vote_uc_Stock_aa" %>
<%@ Register Assembly="DundasWebChart" Namespace="Dundas.Charting.WebControl" TagPrefix="DCWC" %>
<%@ Register Src="~/Vote/uc_Stock/uc_vote_Top.ascx" TagName="vote_Top" TagPrefix="ucvote_Top" %>

  <ucvote_Top:vote_Top ID="vote_Top_Name" runat="server" />   
  
<DCWC:Chart ID="Chart1" runat="server">
    <Legends>
        <DCWC:Legend Name="Default">
        </DCWC:Legend>
    </Legends>
    <Titles>
        <DCWC:Title Name="Title1" Text="ssss">
        </DCWC:Title>
    </Titles>
    <Series>
        <DCWC:Series Name="Series1">
        </DCWC:Series>
    </Series>
    <ChartAreas>
        <DCWC:ChartArea Name="Default">
        </DCWC:ChartArea>
    </ChartAreas>
</DCWC:Chart>
