@charset "utf-8";
body { margin:0px; padding:0px; text-align:center; font-size:12px; font-family:Arial, Helvetica, sans-serif;}
h1,h2,h3,h4,h5,h6,ul,li,form,th,p,cite,em {margin:0px; padding:0px; list-style:none; font-weight:normal; font-style:normal;}
a {color:#00529B; text-decoration:none;}
a:hover {text-decoration:underline;}
img,table,th,td {border:0;}
input.texts,input.butn,select{font-size:12px;font-family:Verdana, Arial, Helvetica, sans-serif; color:#666666;}
input.texts { border:1px solid #D1E0E7; height:16px; padding-top:3px;}
input.butn { border:1px solid #999999;background:url(../images/cnyes_xbg.gif) #FFFFFF 0 -134px repeat-x;padding:1px 3px 0px 3px;*padding-top:3px;}
.clear {content:".";display:block;height:0;clear:both;visibility:hidden;_display:inline;}
.cyads650x250 {text-align:center;margin-bottom:10px;}
#main2 {text-align:left; width:670px;float:left;}
.disyhidn {display:none;}
.disyshow {display:block;}
.g {color:#009900!important;}
.r {color:#FF0000!important;}
.cr {text-align:center;}
.lt {text-align:left;}
.rt {text-align:right;font-size:11px;}
.dt {font-size:11px;} /* date/time */
.mainboxs {height:1%; overflow:hidden; margin-bottom:12px;}
.sideboxs {height:1%; overflow:hidden; margin-bottom:10px;}
.bd {padding:8px 10px; border:1px solid #ddd; border-top:0;overflow:hidden;zoom:1;}
.bd1 {border:1px solid #ddd; border-top:0; height:1%; overflow:hidden;}
.bd2 {}
.bd3 {padding:0px 10px 8px 10px;border:1px solid #ddd; border-top:0; height:1%; overflow:hidden;}
.bd4 {margin:5px 0px 0px 0px;}
.bd5 {margin-top:5px; border-bottom:1px solid #ddd;}
cite.tydate { float:right;font:11px Arial, Helvetica, sans-serif; color:#555; margin:-22px 5px 0px 0px;}
.boxlt{float:left;}
.boxrt{float:right;}
.anote {float:left; margin:-18px 0px 0px 160px;}
.otrbtn2 {float:right;width:36px;background:url(../images/cnyes_icon.png) right 0 no-repeat; text-align:center; padding-right:10px; margin:-32px 8px 0px 0px;height:22px;}
.otrbtn2 a {float:left;display:block;background:url(../images/cnyes_icon.png) -495px -70px no-repeat; font:12px Arial, Helvetica, sans-serif;color:#333;height:22px; padding-left:10px; line-height:22px;*padding-top:1px; cursor:pointer;blr:expression(this.onFocus=this.blur())}

/*--- top ---*/
.topnav {background:url(../images/cnyes_icon.png) right 0 no-repeat; float:right; text-align:center;}
.topnav a {background:url(../images/cnyes_icon.png) -495px -70px no-repeat; color:#333; display:block; width:50px;height:23px; line-height:23px;}

/*--- switch tags ---*/
.hd3 {height:31px;line-height:31px;padding-left:8px; overflow:hidden; background:url(../images/cnyes_xbg.gif) 0 -75px repeat-x;}
.hd3 li {float:left;display:block;color:#333;}
.hd3 li.current {padding-right:2px;background:url(../images/cnyes_icon.png) right -206px repeat-x;}
.hd3 li.current em {padding:3px 10px 0px 13px;text-align:center;float:left;display:block;background:url(../images/cnyes_icon.png) -112px -206px repeat-x;font-weight:bold;}
.hd3 li a {color:#333; margin:0px 2px;}
.hd3 li a:hover {color:#cc0000;}

.hd4 {height:27px; overflow:hidden;background:url(../images/cnyes_xbg.gif) 0 bottom repeat-x;}
.hd4 li {float:left;text-align:center;margin-right:-1px;background:url(../images/cnyes_icon.png) -349px -284px no-repeat;padding:0px 0px 0px 15px;}
.hd4 li a {float:left; height:27px;line-height:27px;display:block; text-decoration:none;color:#333; padding:0px 15px 0px 0px; background:url(../images/cnyes_icon.png) right -284px no-repeat; }
.hd4 li a em {cursor:pointer;}
.hd4 li.current {font-weight:bold;background-position:-349px -311px;}
.hd4 li.current a {font-weight:bold;background-position:right -311px;}
.hd4 li.current a em { width:94px;height:27px;line-height:27px;display:inline-block;font-weight:bold;background:url(../images/cnyes_icon.png) -136px -247px no-repeat;}
.hd4 li a:hover {color:#cc0000;}

.sphd {font-size:12px;border:1px solid #ddd; background:url(../images/cnyes_xbg.gif) 0 0 repeat-x;height:25px; line-height:25px; padding-left:8px; font-weight:bold;}
.sphd a { color:#333;}
/*--- table ---*/
table {border-collapse:collapse; color:#555555; width:100%;font:12px Arial, Helvetica, sans-serif;}
th {font-weight:normal;padding:2px 3px 0px 3px; text-align:center;} 
td {padding:0px 3px;}
.tabs1 th { height:1.9em; line-height:1.9em; border-bottom:2px solid #ddd;}
.tabs1 td {background:url(../images/pointline.png) 0 bottom repeat-x; height:23px; line-height:23px;}
.tabs1 tr:hover td{background-color:#eee;}
/*--- inquire ---*/
.inqanote p { color:#666; line-height:1.8em;}
.orang {color:#FF6600;}
.sphdselt { float:right; margin:-25px 10px 0px 0px;_margin-left:130px;overflow:hidden;zoom:1;}
.sphdselt .yrs { margin-left:30px; display:inline-block;}
.yrs .yr input {font-weight:normal; width:30px;}
.yrs .current input {color:#cc0000;}
.yr{background:url(../images/cnyes_icon.png) right 0 no-repeat; *padding-right:5px; display:inline-block;}
.yr input {background:url(../images/cnyes_icon.png) -495px -70px no-repeat; border:0; font:12px Arial, Helvetica, sans-serif; font-weight:bold; padding-left:5px; height:22px; line-height:22px; cursor:pointer;blr:expression(this.onFocus=this.blur())}
.crtex { height:1%; overflow:hidden;}
.crtexdotd {border-bottom:1px dotted #ccc; padding-bottom:10px; margin-bottom:10px;}
.inqpd {padding:15px 20px;}
.tabvote .butn {display:inline-block;width:36px; height:21px; margin-bottom:3px;}
.tabvote .rt {font:11px Tahoma;}
.tabvote td { padding:5px 0px;}
.tabvote .barline { border-bottom:2px solid #ccc; font-size:1px; display:inline;}
.tabvote .clr_r { display:block; height:20px;border:1px solid #953735; background:#e6b9b8;}
.tabvote .clr_b { display:block; height:20px; border:1px solid #376092; background:#b9cde5;}
.tabvote .clr_g { display:block; height:20px; border:1px solid #7b9743; background:#d7e4bd;}
.tabvote .stng {font-weight:bold;}
.tabvote .dotdrl {border-left:1px dotted #ccc; padding-right:3px;}
.inqumenu .hd4 li a {width:70px;}
.inqumenu .hd4 li.current a { width:86px;}
