﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default3.aspx.cs" Inherits="Vote_Default3" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>未命名頁面</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
     <iframe id="performance_chart_iframe" 
                                src="small_vote.aspx?code=6601" frameborder="no" width="300" height="250" marginheight="0"
                                marginwidth="0" scrolling="no"></iframe>
    </div>
    </form>
</body>
</html>
