﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default.aspx.cs" Inherits="Vote_Default" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>未命名頁面</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <asp:HyperLink ID="HyperLink1" runat="server" NavigateUrl="~/Vote/Default_Vote.aspx?channel=tw&type=11">台股</asp:HyperLink>
        <asp:HyperLink ID="HyperLink4" runat="server" NavigateUrl="~/Vote/Default_Vote.aspx?channel=us&type=11">美股</asp:HyperLink>
    
        <asp:HyperLink ID="HyperLink2" runat="server" NavigateUrl="~/Vote/Default_Vote.aspx?channel=fu&type=11">期指1</asp:HyperLink>
        <asp:HyperLink ID="HyperLink3" runat="server" NavigateUrl="~/Vote/Default_Vote.aspx?channel=fu&type=12">期指2</asp:HyperLink>
        <asp:HyperLink ID="HyperLink5" runat="server" NavigateUrl="~/Vote/Default_Vote.aspx?channel=fu&type=13">期指3</asp:HyperLink>
        <asp:HyperLink ID="HyperLink6" runat="server" NavigateUrl="~/Vote/Default_Vote.aspx?channel=fu&type=14">期指3</asp:HyperLink>
          
       
        <asp:HyperLink ID="HyperLink7" runat="server" NavigateUrl="~/Vote/Default_Vote.aspx?channel=ex&type=11">外匯1</asp:HyperLink>
        <asp:HyperLink ID="HyperLink8" runat="server" NavigateUrl="~/Vote/Default_Vote.aspx?channel=ex&type=12">外匯2</asp:HyperLink>
        <asp:HyperLink ID="HyperLink9" runat="server" NavigateUrl="~/Vote/Default_Vote.aspx?channel=ex&type=13">外匯3</asp:HyperLink>
        <asp:HyperLink ID="HyperLink10" runat="server" NavigateUrl="~/Vote/Default_Vote.aspx?channel=ex&type=14">外匯4</asp:HyperLink>

        <asp:HyperLink ID="HyperLink11" runat="server" NavigateUrl="~/Vote/Default_Vote.aspx?channel=gl&type=11">黃金</asp:HyperLink>&nbsp;<asp:HyperLink
            ID="HyperLink12" runat="server" NavigateUrl="~/Vote/Default_Vote.aspx?channel=hk&type=11">港股</asp:HyperLink><br/>
        <br />
        yan thin fun (wan su all) 
        <br/>
        <br />
        <asp:TextBox ID="TextBox1" runat="server"></asp:TextBox>
        <asp:Button ID="Button1" runat="server" OnClick="Button1_Click" Text="Button" /></div>
    </form>
</body>
</html>
