﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Default_Button_Image.aspx.cs" Inherits="Vote_Default_Button_Image" %>
<%@ Register Src="~/Vote/uc/uc_Button_Image.ascx" TagName="Button_Image" TagPrefix="ucButton_Image" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>未命名頁面</title>
</head>
<body>
    <form id="form1" runat="server">
       <div id="main2">
              <ucButton_Image:Button_Image ID="vote_Button_Image" runat="server" />  

    </div>
    </form>
</body>
</html>
