﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="small_vote_tw.aspx.cs" Inherits="Vote_small_vote_tw" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>未命名頁面</title>

<link href="http://www.cnyes.com/twstock/09/fin/css/twstock2010.css" rel="stylesheet" type="text/css" />
<link href="http://www.cnyes.com/twstock/09/fin/css/public2010.css" rel="stylesheet" type="text/css" />


</head>
<body>
    <form id="form1" runat="server">
<div style=" margin:0px auto; width:330px;overflow:hidden; height:1%; text-align:left;">
        <!-- 多空調查:start -->
        <asp:HiddenField ID="Vote_yes_no" runat="server" />
        <div class="mbx bxlt inquired">
<div class="subhead ht"><em>
    <asp:Literal ID="L_LinkStock" runat="server"></asp:Literal></em></div>
<div class="bd">
<div class="lines lna"><cite class="items">看多</cite><div class="linebg"><span class="pert" style="width:<%=p1%>%;"></span></div><cite class="percent"><%=p1%>%</cite><asp:Button ID="Button4"  runat="server"  OnClick="Button1_Click" /></div>
<div class="lines lnb"><cite class="items">看空</cite><div class="linebg"><span class="pert" style="width:<%=p3%>%;"></span></div><cite class="percent"><%=p3%>%</cite><asp:Button ID="Button5"  runat="server"  OnClick="Button3_Click" /></div>
<div class="lines lnc"><cite class="items">盤整</cite><div class="linebg"><span class="pert" style="width:<%=p2%>%;"></span></div><cite class="percent"><%=p2%>%</cite><asp:Button ID="Button6"  runat="server"  OnClick="Button2_Click" /></div>
<span class="expon expdot"> <asp:Literal ID="L2" runat="server"></asp:Literal>當日多空調查指數：<span runat ="server" id="cResult">0</span></span>
</div><!-- bd:end -->
</div><!-- 多空調查:end -->

     
    
 </div>    

    </form>
</body>
</html>
