﻿<div class="performance etfpm">
<ul class="hdnavs">
<li id="tags_tab_0" class="current"><a onmouseover="javascript:switchTab('tags', 0, 3)" href="#" title="原物料ETF" target="_parent" >原物料ETF</a></li>
<li id="tags_tab_1"><a onmouseover="javascript:switchTab('tags', 1, 3)" href="#" title="中港台ETF" target="_parent" >中港台ETF</a></li>
<li id="tags_tab_2"><a onmouseover="javascript:switchTab('tags', 2, 3)" href="#" title="新興市場ETF" target="_parent" >新興市場ETF</a></li>
</ul>
<h5 class="subhd">ETF績效表現</h5>
<div class="atdate">2012-03-02</div>
<div class="bdboxs">
<div id="tags_0" class="disyshow">
<div class="pics"><img src="http://fund.cnyes.com/chart/stock_usETF/File/etf1.png" alt="" width="350" height="200" /></div>
<div class="tabsperfm">
<table>
<tr>
<th class="lt">名稱</th>
<th>SPDR能源</th>
<th>SPDR黃金</th>
<th>德銀農業</th>
</tr>
<tr>
<td>今年以來</td>
<td class="rt r">8.12%</td>
<td class="rt r">9.44%</td>
<td class="rt r">1.63%</td>
</tr>
<tr  >
<td>最近一週</td>
<td class="rt r">0%</td>
<td class="rt r">0%</td>
<td class="rt r">0%</td>
</tr>
<tr  >
<td>最近一個月</td>
<td class="rt r">0%</td>
<td class="rt r">0%</td>
<td class="rt r">0%</td>
</tr>
<tr  >
<td>最近三個月</td>
<td class="rt r">5.06%</td>
<td class="rt g">-1.01%</td>
<td class="rt r">1.84%</td>
</tr>
<tr  >
<td>最近六個月</td>
<td class="rt r">2.33%</td>
<td class="rt g">-1.93%</td>
<td class="rt g">-5.41%</td>
</tr>
<tr  >
<td>最近一年</td>
<td class="rt g">-7.13%</td>
<td class="rt r">9.17%</td>
<td class="rt g">-13.83%</td>
</tr>
<tr  >
<td>最近二年</td>
<td class="rt r">23.21%</td>
<td class="rt r">45.55%</td>
<td class="rt r">18.83%</td>
</tr>
</table>
</div>
</div> 

<div id="tags_1" class="disyhidn">
<div class="pics"><img src="http://fund.cnyes.com/chart/stock_usETF/File/etf2.png" alt="" width="350" height="200" /></div>
<div class="tabsperfm">
<table>
<tr>
<th class="lt">名稱</th>
<th>新華富時中國</th>
<th>MSCI香港</th>
<th>MSCI台灣</th>
</tr>
<tr>
<td>今年以來</td>
<td class="rt r">15.49%</td>
<td class="rt r">17.84%</td>
<td class="rt r">16.82%</td>
</tr>
<tr  >
<td>最近一週</td>
<td class="rt r">0%</td>
<td class="rt r">0%</td>
<td class="rt r">0%</td>
</tr>
<tr  >
<td>最近一個月</td>
<td class="rt r">0%</td>
<td class="rt r">0%</td>
<td class="rt r">0%</td>
</tr>
<tr  >
<td>最近三個月</td>
<td class="rt r">4.68%</td>
<td class="rt r">8.06%</td>
<td class="rt r">9.27%</td>
</tr>
<tr  >
<td>最近六個月</td>
<td class="rt r">6.56%</td>
<td class="rt r">8.13%</td>
<td class="rt r">2.93%</td>
</tr>
<tr  >
<td>最近一年</td>
<td class="rt g">-10.93%</td>
<td class="rt g">-5.84%</td>
<td class="rt g">-14.5%</td>
</tr>
<tr  >
<td>最近二年</td>
<td class="rt g">-1.73%</td>
<td class="rt r">14.29%</td>
<td class="rt r">5.56%</td>
</tr>
</table>
</div>
</div> 

<div id="tags_2" class="disyhidn">
<div class="pics"><img src="http://fund.cnyes.com/chart/stock_usETF/File/etf3.png" alt="" width="350" height="200" /></div>
<div class="tabsperfm">
<table>
<tr>
<th class="lt">名稱</th>
<th>MSCI新興市場</th>
<th>MSCI金磚四國</th>
<th>S&P新興歐洲</th>
</tr>
<tr>
<td>今年以來</td>
<td class="rt r">17.66%</td>
<td class="rt r">21.97%</td>
<td class="rt r">26.29%</td>
</tr>
<tr  >
<td>最近一週</td>
<td class="rt r">0%</td>
<td class="rt r">0%</td>
<td class="rt r">0%</td>
</tr>
<tr  >
<td>最近一個月</td>
<td class="rt r">0%</td>
<td class="rt r">0%</td>
<td class="rt r">0%</td>
</tr>
<tr  >
<td>最近三個月</td>
<td class="rt r">6.92%</td>
<td class="rt r">8.19%</td>
<td class="rt r">9.97%</td>
</tr>
<tr  >
<td>最近六個月</td>
<td class="rt r">5.28%</td>
<td class="rt r">6.73%</td>
<td class="rt r">3.79%</td>
</tr>
<tr  >
<td>最近一年</td>
<td class="rt g">-10.72%</td>
<td class="rt g">-12.17%</td>
<td class="rt g">-21.33%</td>
</tr>
<tr  >
<td>最近二年</td>
<td class="rt r">4.89%</td>
<td class="rt g">-4.43%</td>
<td class="rt g">-2.09%</td>
</tr>
</table>
</div>
</div> 
</div>
</div>

