﻿<%@ Master Language="C#" AutoEventWireup="true" CodeFile="MP1_test.master.cs" Inherits="MPs_MP1_test" %>

<%@ Register Src="~/CommonWebControls/Headers_html_test.ascx" TagName="Headers" TagPrefix="ucMoney2" %>

<%@ Register Src="~/UCs/Navigation.ascx" TagName="Navigation" TagPrefix="ucMoney2" %>

<%@ Register Src="~/UCs/Footer_test.ascx" TagName="Footer" TagPrefix="ucMoney2" %>

<!--<!DOCTYPE html>-->
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xmlns:fb="http://www.facebook.com/2008/fbml">
<head runat="server">
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title runat="server" id="Title1"></title>
<meta http-equiv="Content-Language" content="zh-TW" />
    <asp:literal id="Literal_Description_Keywords" runat="server" enableviewstate="false"></asp:literal>
<link href="http://imgcache.cnyes.com/cnews/css_ad/google_1AD_BigFont_CSS.css" rel="stylesheet" type="text/css" />


<asp:literal id="Literal_TopCss" runat="server" enableviewstate="false"></asp:literal>
<asp:literal id="Literal_TopJs" runat="server" enableviewstate="false"></asp:literal>
<script src="http://www.cnyes.com/money/js/house2.js" type="text/javascript"></script>
    <script src="http://chart.cnyes.com/js/jquery.dfp.js"></script>
    <script>
        $(function () {
            $.dfp('1018855');
        });
    </script> 
</head>
<body>
<asp:Literal ID="Literal_H1" runat="server" enableviewstate="false"></asp:Literal>
<ucMoney2:Headers ID="Headers1" runat="server" EnableViewState="false"  _Channel_ID1="6" _secid="0" _ShowNav="true"/>


<asp:contentplaceholder id="ContentPlaceHolder1" runat="server">
</asp:contentplaceholder>
<div class="topnav_div">
    <div class="topnav"><a href="javascript:window.scrollTo(0, 0);" title="置頂">TOP</a></div>
</div>
<ucMoney2:Footer ID="Footer1" runat="server" EnableViewState="false" />
<div id="fb-root"></div>
<script type="text/javascript" src="http://chart.cnyes.com/js/F8.js"></script>
<script type="text/javascript">
setTimeout(function(){var a=document.createElement("script");
var b=document.getElementsByTagName("script")[0];
a.src=document.location.protocol+"//dnn506yrbagrg.cloudfront.net/pages/scripts/0018/4950.js?"+Math.floor(new Date().getTime()/3600000);
a.async=true;a.type="text/javascript";b.parentNode.insertBefore(a,b)}, 1);
</script> 
</body>
<asp:literal id="Literal_FootJs" runat="server" enableviewstate="false"></asp:literal>
</html>
<!--tear webpage ok!-->