﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="uc_vote_Top.ascx.cs" Inherits="Vote_uc_uc_vote_Top" %>
<!-- 標籤-->

   <script type="text/javascript" src="http://www.cnyes.com/inc/cookie.js"></script>
   
<script language="javascript" type="text/javascript">
  
   function CheckVoteOr()
    {
       
        writeCookie("CheckVoteCookie", "1234");       
         
       if (readCookie("CheckVoteCookie") == null || readCookie("CheckVoteCookie") == "")
       {
           alert("請開啟 cookie 功能！");
           return false;
       }
    }
  </script>
  
<asp:Literal ID="L_menu" runat="server"></asp:Literal>

<!-- 當日,當月,當季,當年 多空調查累積投票數:start -->
<div class="mainboxs">
<div class="sphd"><span class="orang">當日</span><asp:Literal ID="TopOneName" runat="server"></asp:Literal>多空調查累積投票數</div>
<cite class="tydate" runat="server" id="tydate"></cite>
<div class="bd inqpd">
<div class="tabvote">
<table>
<tr>
<td width="50" class="stng">看多</td>
<td width="240" class="dotdrl"><div class="barline"><span class="clr_r" style="width:<%=p1%>%;"></span></div></td>
<td class="dotdrl rt"></td>
<td width="90" class="rt"><%=p1%>%</td>
<td width="90" class="rt" runat ="server" id="v1">0票</td>
<td width="70" class="rt">
    <asp:Button ID="Button1" OnClientClick="return CheckVoteOr()" class="butn" runat="server" Text="投票" Width="42px" OnClick="Button1_Click" /></td>
</tr>
<tr>
<td class="stng">看空</td>
<td class="dotdrl"><div class="barline"><span class="clr_g" style="width:<%=p3%>%;"></span></div></td>
<td class="dotdrl rt"></td>
<td class="rt"><%=p3%>%</td>
<td class="rt" runat ="server" id="v3">0票</td>
<td class="rt"><asp:Button ID="Button3" OnClientClick="return CheckVoteOr()" class="butn" runat="server" Text="投票" Width="42px" OnClick="Button3_Click" /></td>
</tr>
<tr>
<td class="stng">盤整</td>
<td class="dotdrl"><div class="barline"><span class="clr_b" style="width:<%=p2%>%;"></span></div></td>
<td class="dotdrl rt"></td>
<td class="rt" ><%=p2%>%</td>
<td class="rt" runat ="server" id="v2">0票</td>
<td class="rt"><asp:Button ID="Button2" OnClientClick="return CheckVoteOr()" class="butn" runat="server" Text="投票" Width="42px" OnClick="Button2_Click" /></td>
</tr>
<tr>
<td colspan="2">當日多空調查指數：<span class="r" runat ="server" id="cResult">0</span></td>
<td class="rt">合計</td>
<td class="rt r"><%=p4%>%</td>
<td class="rt r" runat ="server" id="v4">0票</td> 
<td></td>
</tr>
</table>
</div><!-- tabvote:end -->
</div><!-- bd:end -->
</div>
<asp:Literal ID="L_top_vote" runat="server"></asp:Literal>
<!-- 當日,當月,當季,當年 多空調查累積投票數:end -->
 
<!-- 年度單月累計投票數:start -->
<asp:Literal ID="L_month_total" runat="server"></asp:Literal>

<!-- cnyes ads 650x250:start -->
<div class="cyads650x250"><iframe src="http://ad.cnyes.com/cnyesAD/showad.asp?TAG=V4HOME_B" frameborder="no" vspace="0" hspace="0"  width="650" height="250" marginheight="0" marginwidth="0" scrolling="no"></iframe></div>
<!-- cnyes ads 650x250:end -->



