﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="Read.aspx.cs" Inherits="stock_usETF_Read" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head id="Head1" runat="server">
    <title>未命名頁面</title>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link href="File/public.css" rel="stylesheet" type="text/css" />
<link href="File/usastock_new.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="File/switchTab.js"></script>
<script type="text/javascript" src="File/defin.js"></script>
</head>
<body>
    <form id="form1" runat="server">
        <asp:Literal ID="Show" runat="server"></asp:Literal> 
    </form>
   
</body>
</html>
