@charset "utf-8";

.cardNews {background:url(../images/newsPhoto.png) right bottom no-repeat;border-bottom:5px solid #ececec; padding-bottom:10px;}
	.cardNews li{line-height:26px; background:url(../images/dots.png) 0 -56px no-repeat; margin-left:6px;padding-left:10px;}
	.cardNews li a {font-size:14px; color:#484848;}
	.cardNews li a:hover {text-decoration:underline;}
	.tithd,.tithd2,.tithd3,.tithd4,.tithd5,.tithd6,.tithd7,.tithd9 {display:block;color:#454545;zoom:1; overflow:hidden;}
    .tithd,.tithd2,.tithd3{border-bottom:1px solid #ececec; margin-bottom:10px; padding-bottom:5px;}
	.tithd4,.tithd5,.tithd6,.tithd7,.tithd9{display:block;color:#454545;zoom:1; overflow:hidden;margin-bottom:5px;}
	.tithd h3,.tithd2 h3,.tithd3 h3,.tithd4 h3,.tithd5 h3,.tithd6 h3,.tithd7 h3,.tithd9 h3 {font-weight:bold;float:left;font-size:16px;}
	.tithd h3{background:url(../images/dots.png) 0 0 no-repeat; padding:4px 0 0 53px;}
	.tithd2 h3{background:url(../images/dots.png) 0 -108px no-repeat; padding:4px 0 0 53px;}
	.tithd3 h3{background:url(../images/dots.png) 0 -150px no-repeat; padding:4px 0 0 53px;}
	.tithd4 h3{background:url(../images/dots.png) 0 -808px no-repeat; padding:3px 0 0 48px;}
	.tithd5 h3{background:url(../images/dots.png) 0 -727px no-repeat; padding:3px 0 5px 48px;}
	.tithd6 h3{background:url(../images/dots.png) 0 -888px no-repeat; padding:3px 0 5px 48px;}
	.tithd7 h3{background:url(../images/dots.png) 0 -956px no-repeat; padding:3px 0 0 48px;}
	.tithd8 h3{ background:url(../images/dots.png) -70px -36px no-repeat; padding-left:15px; font-size:16px;}
	.tithd9 h3{background:url(../images/dots.png) 0 -1033px no-repeat; padding:3px 0 0 48px;}
	.tithd a {color:#999999;}
	.tithd a.dataInfo,.tithd3 a.dataInfo {background:url(../images/dots.png) right -38px no-repeat; margin:10px 6px 0 0; padding-right:10px;}
	.searchBx {zoom:1; overflow:hidden; margin-top:12px;}
	.searchBx h3 {font-size:18px; font-weight:bold; text-align:center; color:#fff; margin:10px 0 18px 0;}
	.searchBxL {width:327px; height:150px; float:left; background:url(../images/cardShBg.png) 0 0 no-repeat;}
	.searchBxR {width:327px; height:150px; float:right; background:url(../images/cardShBg.png) 0 0 no-repeat;}
	.shList {width:200px; margin:0 0 8px 65px;}
.disBx {zoom:1;overflow:hidden;margin-bottom:15px;/*border:1px solid #000;*/}
	.disBx span.disTit {display:block; width:660px;padding:8px;background:#f0ebe3;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;*behavior:url(PIE.htc);zoom:1;overflow:hidden;}
	.disBx h2 {font-size:15px;font-weight:bold;color:#404040; background:url(../images/dots.png) 0 -229px no-repeat; padding-left:10px;}
	.disBx h2 a.dataInfo {margin-top:2px; *margin-top:-18px;}
	.disBx span.lDis,.disBx span.rDis{display:block;width:330px; margin-top:8px;}
	.disBx span.lDis {float:left; border-right:1px solid #cfc8bf; margin-right:8px!important; padding-right:5px;}
	.disBx span.rDis {float:right;}
	.disBx span h3 {margin-bottom:6px;background:url(../images/dots.png) 0 -185px no-repeat; padding-left:13px; font-size:14px; font-weight:bold;}
	.disBx span h3 a {color:#6d402c;}  .disBx span h3 a:hover { color:#eb5614;}
	.disBx span p {font-size:13px; margin-left:14px; color:#545454;}
	.disTit a.dataInfo {width:10px; height:13px; background:url(../images/dots.png) right -327px no-repeat; margin-right:5px;}
.sidebox {background:#f8f5f1;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;*behavior:url(PIE.htc);}
	.sidebox ul {margin-bottom:5px;}
	.sidebox li{display:inline;} 
	.sTinp {background:#c5bdb2;border:0px;border-top:1px solid #9b958c;border-left:1px solid #9b958c;}
	.sTool {padding:12px;}
.amgBx {zoom:1;overflow:hidden;}
	.amgBxL,.amgBxR {width:330px;}
	.amgBxL,span.magCover,.contbox {float:left;}
	.amgBxR {float:right;}
	span.magCover {display:block;border:1px solid #ccc; padding:5px;}
	.contbox {margin-left:10px;}
	.contbox h2 {font-size:15px; font-weight:bold; margin-bottom:5px;}
	.contbox .listsm li {line-height:22px; border-bottom:1px dotted #dbd5ce; background:url(../images/dots.png) 0 -274px no-repeat; padding-left:10px;}
	.contbox p {font-size:11px;color:#858585;margin-bottom:3px;}
	.contbox .hit {color:#f03e5b;}
	.contbox cite {margin-left:45px;}
/*-- 內頁開始 --*/
.newsBx {zoom:1;overflow:hidden; border-bottom:1px solid #e3e2df; margin-bottom:10px; padding-bottom:10px;}
.newsBx span{display:block; float:left; border:5px solid #e3e2df; margin-right:10px;}
.newsBx h4 {font-size:16px; font-weight:bold; margin-bottom:3px;}
.newsBx h4 a {color:#444444;}
.newsBx h4 a:hover {text-decoration:underline;}
.newsBx p {font-size:14px; line-height:20px; color:#7f7f7f;}
.newsBx em {display:block;float:right;margin:30px 10px 0 0; padding:3px 7px; background:#8bb5cf;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;*behavior:url(PIE.htc);}
.newsBx em a {color:#fff; font-weight:bold;}
.newListBx {zoom:1;overflow:hidden;margin-bottom:15px;/*border:1px solid #000;*/}
.newListBx h2 {font-size:15px;font-weight:bold;color:#404040; background:url(../images/dots.png) 0 -229px no-repeat; padding-left:10px;}
.newListBx h2 a.dataInfo {margin-top:2px; *margin-top:-18px;}
.newListBx span.newL,.newListBx span.newR{display:block;width:330px;margin-top:8px;}
.newListBx span.newL {float:left; border-right:1px dotted #dcdbdb; margin-right:8px!important; padding-right:5px;}
.newListBx span.newR {float:right;}
.newListBx span h3 { margin-bottom:6px;font-size:14px; font-weight:bold; line-height:20px;overflow:hidden; background:url(../images/dots.png) 0 -582px no-repeat; padding-left:13px;}
.newListBx span h3 a {color:#444444;}  .newListBx span h3 a:hover { text-decoration:underline;}
.newListBx span p { height:40px; margin-left:13px;font-size:13px;color:#7f7f7f; line-height:20px;overflow:hidden;}
.newListBx cite {color:#d6d5d5; font-size:14px; margin-top:2px;*margin-top:-15px;}
.disTit2A,.disTit2B,.disTit2C,.disTit2D,.disTit2E {display:block; width:660px;padding:8px 8px 5px 8px;background:#fafafa; border:1px solid #f2f2f2;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;*behavior:url(PIE.htc);zoom:1;overflow:hidden;}
.disTit2A h2{height:28px; background:url(../images/dots.png) 0 -363px no-repeat; padding-left:42px;color:#d93a53;}
.disTit2B h2{height:28px; background:url(../images/dots.png) 0 -403px no-repeat; padding-left:42px;color:#ea6733;}
.disTit2C h2{height:28px; background:url(../images/dots.png) 0 -445px no-repeat; padding-left:42px;color:#bd853e;}
.disTit2D h2{height:28px; background:url(../images/dots.png) 0 -487px no-repeat; padding-left:42px;color:#94683c;}
.disTit2E h2{height:28px; background:url(../images/dots.png) 0 -532px no-repeat; padding-left:42px;color:#6ca0bf;}
.inCardBxUp {background:url(../images/bxBgUp.png) 0 top no-repeat; padding:15px 15px 0 15px;}
.inCardBxDm {background:url(../images/bxBgDm.png) 0 bottom no-repeat; padding:0 15px 25px 15px;}
.infoBx h2{font-size:16px; margin-bottom:3px; background:url(../images/dots.png) 0 -655px no-repeat; padding-left:13px;}
.infoBx p,.magBx p {font-size:14px;margin-left:13px; color:#5a5a5a;}
.magBx h2{font-size:16px; font-weight:bold; margin-bottom:3px; background:url(../images/dots.png) 0 -1100px no-repeat; padding-left:13px;}
.magBx h2 a {color:#333;}
.magBx h2 a:hover {color:#777;}
.inMagArea {display:block; border-top:1px solid #ebebeb;margin:0 0 8px 14px; padding-top:3px;zoom:1;overflow:hidden;}
.inMagArea a:hover {text-decoration:underline;}
.inMagArea span.label {display:block; float:right; margin:-15px 0 0 0;}
.inMagArea h3 {font-size:15px; color:#6b3f2c; background:url(../images/dots.png) 0 -229px no-repeat; padding-left:10px;}
.inMagArea h3 a { font-size:14px;}
.label cite{color:#fff;background:#996a55;padding:1px 3px;}
.label a{font-size:12px;margin-right:5px;} 
.contrList {padding:10px;}
.contrBox li a {font-size:15px; text-decoration:none;}
.contrBox li a:hover {color:#e93754;} 
.contrBox li a cite { font-size:12px; font-weight:bold; color:#8c8c8c;}
.contrBox li {margin-bottom:8px; padding-left:13px; background:url(../images/dotB.png) 0 -7px no-repeat; border-bottom:1px dotted #e6e1dd;}
.contrBox span {display:inline-block; margin:6px 0;}
.contrBox p {font-size:13px; line-height:20px; margin:0 0 20px 13px; padding:8px; background:#f0f0f0;}
.hdN4 li {display:block;}
.hdN4 li a {  color:#29251d; display:block; overflow:hidden; padding:0px; text-decoration:none;}
.hdN4 li a:hover { color:#e93754;}
.hdN4 li.current { background:url(../images/dotB.png) 0 -24px no-repeat; padding-left:13px;}
.hdN4 li.current a{color:#f13f5c; font-weight:bold;}