@charset "utf-8";
/*--- Name:Reset | Update:2011-12 ---*/
/*--- Reset ---*/
body{text-align:center;-webkit-text-size-adjust:none;color:#333;}
body,h1,h2,h3,h4,h5,h6,ul,li,ol,dl,dt,dd,form,th,p,cite,em {margin:0;padding:0;list-style:none;font-weight:normal;font-style:normal;}
a {color:#1067c8;text-decoration:none;outline:none; cursor:pointer;}
img,table,th,td {border:0;text-align:left;}
table {border-collapse:collapse;width:100%;color:#333;}
select,textarea,input{color:#666;}
ul,ol,li,dl,dt,dd {zoom:1;overflow:hidden;}
.vl *{vertical-align:middle;}
.clearfix {content:".";display:block;height:0;clear:both;visibility:hidden;_display:inline;}
.blank {display:block;clear:both;height:12px;overflow:hidden;}
.blank2 {display:block;clear:both;height:12px;overflow:hidden; margin-bottom:12px; border-bottom:1px dotted #ddd;}
.mgbm {margin-bottom:12px;zoom:1;overflow:hidden;}
.g {color:#090!important;}
.r {color:#f00!important;}
.gb,.rb {color:#fff;}
.gb{background-color:#090!important;}
.rb{background-color:#f00!important;}
.lt {text-align:left!important;}
.rt {text-align:right!important;}
.cr {text-align:center!important;}
.cnlt,.cnltpd {font-size:12px!important; text-align:left!important;font-family:"Microsoft JhengHei","微軟正黑體",Arial,sans-serif!important;}
.cnltpd {padding-left:10px!important;}
.disyshow {display:block;}
.disyhidn {display:none;}
.topnav { zoom:1; overflow:hidden; margin:12px 0;}
.topnav a { display:inline-block; text-align:left; padding-left:10px; width:45px;color:#3f3f3f;height:23px; line-height:22px;background:url(../images/btnimg.png) 0 -320px no-repeat;}
/*--- Channel overall style ---*/
body,table,select,textarea,input {font-size:12px;font-family:"Microsoft JhengHei","微軟正黑體",Arial,sans-serif;}
#container,#side,#main,#headers,#footer,#masthead {overflow:hidden;}
#masthead,#headers{width:990px; margin:0 auto; text-align:left;}
#masthead {height:24px; line-height:24px;}
#masthead a {color:#999;}
#masthead ul {float:right;}
#masthead li {float:left; display:inline; padding:0 5px; background:url(../images/vline.gif) 0 center no-repeat;}
.head {overflow:hidden; height:1%;}
ul.memberlinks {color:#888;overflow:hidden; margin:60px 0px 0px 3px; width:210px;}
ul.memberlinks li { line-height:1.5em;}
ul.memberlinks a:link,ul.memberlinks a:visited {color:#03c;}
ul.memberlinks a:hover { text-decoration:underline;}
#container {width:990px;margin:12px auto; text-align:left;}
.brand { margin:0px; float:left;width:262px;}
.brand h1,.brand h2 {float:left;}
.brand h1 span,.branding span { text-indent:20px; position:absolute;z-index:-1; color:#fff;}
.branding {float:left; margin:10px 0px 0px 4px;padding:2px 0px 3px 10px;}
#main {float:left;width:678px;}
#side {float:right;width:300px;}

/*----- 主選單項目 -----*/
#nav {width:990px;height:36px;margin:0 auto;background:url(../images/naviBg.png) #f26404 0 0 repeat-x;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;*behavior:url(PIE.htc);}
#nav a {color:#fff;float:left;margin:10px 12px 0 12px;font-weight:bold;padding-left:25px;}
#nav a:hover {color:#443931;}
#nav a.navsd {background:url(../images/naviBg.png) center bottom no-repeat;}
#nav ul,#nav li {overflow:visible;}
ul#navs-h {position:relative; z-index:99;}
ul#navs-h li {float:left;position:relative;display:inline;font-size:14px;background:url(../images/naviBg.png) right -50px no-repeat;}
ul#navs-h li.current a {color:#443931; font-weight:bold;}
ul#navs-h ul {position:absolute;top:100%;left:0;width:120px; padding:0 0 8px 0;margin-top:-1px;background:url(../images/navisdBg.png) #f26404 0 bottom no-repeat;}
ul#navs-h ul li {width:100%;display:block;font-size:13px;text-align:left;}
ul#navs-h ul li a { border-bottom:1px solid #f79d42; display:block; float:none;}
ul#navs-h li li:hover a,ul#navs-h li.iehover li a:hover {color:#443931;}
ul#navs-h ul,#navs-h li.iehover ul {display:none;}
ul#navs-h li:hover ul,#navs-h li.iehover ul{display:block;}
ul#navs-h li#home em {float:left;height:36px;font-size:21px;font-weight:bold;color:#fff;margin:-7px 0 0 -25px;padding-left:0px;}
ul#navs-h li#home span{display:inline-block;margin-left:3px;font-size:12px;font-weight:bold;color:#fff;filter: Alpha(Opacity=70);opacity:0.7;}
.navAs_01 { background:url(../images/navAs.png) 0 2px no-repeat;}
.navAs_02 { background:url(../images/navAs.png) 0 -38px no-repeat;}
.navAs_03 { background:url(../images/navAs.png) 0 -78px no-repeat;}
.navAs_04 { background:url(../images/navAs.png) 0 -120px no-repeat;}
.navAs_05 { background:url(../images/navAs.png) 0 -158px no-repeat;}
.navAs_06 { background:url(../images/navAs.png) 0 -198px no-repeat;}

/*--- Tabs ---*/
ul.hdNavs {background:url(../images/tabsBg.png) 0 bottom repeat-x; padding-left:1px;}
ul.hdNavs li {float:left;display:inline;font-size:14px; margin-left:-1px;text-align:center;height:32px;line-height:32px;border:1px solid #ded6cb;border-bottom:0;}
ul.hdNavs li.current {position:relative;background:#fff;border-color:#c5bdb2;font-weight:bold;}
ul.hdNavs li.current a {color:#e32443;}
ul.hdNavs li a {color:#868279;}
ul.hdNavs.wd1 li {width:73px;}
ul.hdNavs.wd1 li.current {width:76px;}
ul.hdNavs.wd2 li {width:136px;}ul.hdNavs.wd2 li.current {width:137px;}
ul.hdNavs.wdpd li { padding:0 10px;}
ul.hdNavs.pdlt {padding-left:150px; width:678px;}
ul.listing {border:1px solid #e4e4e4; border-top:0; padding:8px 10px;}
ul.listing li {font-size:13px; height:25px; line-height:25px;} 
.dot li{padding-left:16px; background:url(../images/arowIcons.png) 0 9px no-repeat;}

.hdNavsOut{background:url(../images/hdNavBg.png) 0 0 repeat-x;border:1px solid #ddd;border-top:none; *padding-bottom:15px;}

ul.hdNavs2 {padding-left:1px;}
ul.hdNavs2.wd li { padding:0 13px;}
ul.hdNavs2.wd li.current {}
ul.hdNavs2 li {float:left;display:inline;font-size:14px; margin-left:-1px;text-align:center;height:32px;line-height:32px; background:url(../images/hdr01.png) 0 10px no-repeat;border-bottom:0;}
ul.hdNavs2 li.current {position:relative; height:42px;background:#fff; margin:0 0 0 8px; border-top:2px solid #5977af;font-weight:bold;}
ul.hdNavs2 li.current a {color:#454545;}
ul.hdNavs2 li a {color:#8a8a8a;}

/*--- Table ---*/ 
.fmTb th,.fmTb td { height:26px;line-height:26px; padding:0 3px;}
.fmTb th {color:#777;text-align:center;line-height:27px; border-bottom:1px solid #e5e5e5;background:url(../images/thBg.png) 0 bottom no-repeat;}
.fmTb td {text-align:right;font-size:11px; font-family:Tahoma; }
.fmTb tr.odd td {background:#f6f6f7;}
th.nthBg {background-position:-1px bottom;}
.tbBx {width:250px; margin:0 auto;}
.tbBx table td {line-height:16px!important;}
.fmTb2 {width:650px; margin:20px auto 15px auto;}
.fmTb2 th{text-align:center;font-size:14px; font-weight:bold; height:35px; border-top:4px solid #73849a; background:#f2f2f2; color:#5a708e;}
.fmTb2 td {padding:5px 8px 10px 8px;}
.fmTb2 h3 { font-size:15px;margin-bottom:5px; padding-left:10px; background:url(../images/dots.png) 0 -275px no-repeat;}
.fmTb2 h3 a { line-height:20px;}
.fmTb2 a:hover,.fmTb3 a:hover {text-decoration:underline;}
.fmTb2 p {margin-left:10px; color:#6c6c6c;}
.fmTb2 cite {font-size:11px; font-weight:bold;color:#c9c9c9;margin-left:20px; padding:2px 3px;}

.fmTb3 {margin:8px auto 15px auto;}
.fmTb3 th{text-align:center;font-size:14px; font-weight:bold; height:35px; border-top:4px solid #2e648f; background:#a0c6de; color:#fff;}
.fmTb3 td {padding:5px 8px 5px 8px; border-bottom:1px dotted #cbcbcb;}
.fmTb3 td a { font-size:14px;}
.fmTb3 p { font-size:14px; line-height:20px; background:url(../images/dots.png) 0 -57px no-repeat; padding-left:8px;}
.fmTb3 cite { margin-right:5px; font-size:12px; border-right:1px solid #ddd; padding-right:5px;}
.fmTb3 tr.tr01 { background:url(../images/lineBg.png) 0 -352px repeat-x; }

.tdL {border-right:1px solid #ddd;border-bottom:1px dotted #ddd;}
.tdR {text-align:center;border-bottom:1px dotted #ddd; color:#8e7e6c;}
span.dtLink {display:block; float:right;}
span.dtLink a {font-size:11px;font-weight:bold;color:#fff;padding:2px 6px;background:#8bb5cf; margin-right:5px;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;*behavior:url(PIE.htc);} 

/*--- head Block ---*/
.hd {height:32px;line-height:32px; padding:0 12px;background:url(../images/tabsBg.png) 0 0 repeat-x;overflow:hidden;}
.hd a {color:#443123;} 
.mRt {float:right; margin:-24px 12px 0 0;}
.mlinks {float:right;font-size:12px;}
.mlinks a {display:inline-block;margin-left:12px;color:#5476A5;}
.mlinks a:hover {text-decoration:underline;color:#00529B;}
.dataInfo {float:right;font-size:12px;color:#888;}
.rBx { background:#f0ebe3; zoom:1;overflow:hidden;-webkit-border-radius:3px;-moz-border-radius:3px;border-radius:3px;*behavior:url(PIE.htc); padding-top:12px;}
.inrBx { background:#fff; width:276px; margin:0 auto 12px auto;}

/*--- 分頁樣式 ---*/  
.pages {margin-top:15px; text-align: center;}
.pages span {color:#d73580; font-size:13px; font-weight:bold;}
.pagination {margin-top:15px;text-align:center;}
.pagination a {display:inline-block;width:25px;height:25px;color:#656565;font-size:11px;text-decoration:none;}
.pagination a:hover {color:#424242!important;}
.pagination a.current  {font-size:12px;height:23px; color:#656565;border:1px solid #b8b8b8; padding-top:2px; background:url(../images/lineBg.png) 0 -450px repeat-x;}
.aFr,.aDn {display:inline-block;height:25px;background:url(../images/lineBg.png) 0 -450px repeat-x;border:1px solid #b8b8b8;}
.aFr { margin-right:8px;}
.aDn { margin-left:8px;}
.aFr a,.aDn a {font-size:14px; font-weight:bold; border:0; color:#b9b9b9!important; margin:0px;}
.aFr a.abd,.aDn a.abd { border-right:1px solid #b8b8b8;}

/*------ footers ------*/
#footer {width:990px;color:#666; margin:8px auto; border:1px solid #e4e4e4; text-align:left; line-height:20px;}
.legal{ margin-bottom:8px; padding:8px 0px 4px 0px; text-align:center; background-color:#F3F3F3;border-bottom:1px solid #e4e4e4;}
.siteinfo {margin-left:10px; color:#ccc;}
.copyrights span { font-size:11px;}
.contact{color:#666;}
.contact span {color:#ccc}
.copyrights {margin:0 0 4px 10px;}
.cnyslogo { float:right; margin:-62px 10px 0px 0px;*margin:-58px 10px 0px 0px;}
.cnyslogo img { margin-left:12px;}
.cnyslogo *{vertical-align:middle;}
#footer a {color:#666;}
#footer a:hover {color:#c00; text-decoration:underline;}
/*--- Ads Banner ---*/
.gads728x90 {float:right;}
.cyads80x20 { margin-bottom:6px;}
.cyads650x100 em {position:absolute; width:20px; padding:0 4px; line-height:22px; vertical-align:middle; margin-left:-28px; font-size:14px; height:100px; text-align:center; overflow:hidden; background:#736357;}
.cyads650x100 em a {color:#fff;}
.cyads650x100{ float:right; height:100px; width:650px;}

.cyads300x100 {background:#fafafa; border:1px solid #f2f2f2; padding:10px 3px; zoom:1;overflow:hidden;}
.cyads300x100 span {display:block; width:300px;border:5px solid #e6e6e6;background:#fff;}
.adsL31 {float:left; margin-left:8px;}
.adsR31 {float:right; margin-right:8px;}
.ot31Ad { width:640px; margin:0 auto;}

.cyglodtxt {height:1%;overflow:hidden;text-align:center; margin-bottom:3px; padding-top:8px;} 
.cyglodtxt a {color:#063695; text-decoration:underline;font-size:15px;}  
.cyglodtxt a:hover {color:#39c;}
.adslist li {zoom:1;overflow:hidden;padding:3px 0px; font-size:13px;border-bottom:1px dotted #ccc; }
.adslist img {float:left;margin-right:10px;}
.adslist li a:link,.adslist li a:visited {color:#666;}
.adslist li span { float:left; *float:none; display:inline-block; padding-top:3px;font:13px PMingLiU; overflow:hidden;}