﻿<%@ Page Language="C#" AutoEventWireup="true" CodeFile="etfs_holdings_Draw.aspx.cs" Inherits="etfs_holdings_Draw" %>

<%@ Register Assembly="DundasWebChart" Namespace="Dundas.Charting.WebControl" TagPrefix="DCWC" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" >
<head runat="server">
    <title>未命名頁面</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
        <dcwc:chart id="Chart1" runat="server" palette="Pastel"><Legends>
<DCWC:Legend Name="Default"></DCWC:Legend>
</Legends>
<Series>
<DCWC:Series Name="Series1" ShadowOffset="1" ChartType="Bar" BorderColor="64, 64, 64"></DCWC:Series>
</Series>
<ChartAreas>
<DCWC:ChartArea Name="Default"></DCWC:ChartArea>
</ChartAreas>
</dcwc:chart>
        &nbsp;</div>
    </form>
</body>
</html>
